/* button */
.btn_box{
    display:flex; box-sizing:border-box; min-height:56px;  white-space:nowrap; appearance:none; justify-content:center; align-items:center; text-align:center; border:1px solid #000; color:#000; border-radius:120px; padding:12px 36px;
    &.primary{
        border-color:#0B51C5;
        .btn_box_text{color:#0258AD;}
    }
    &.primary_full{
        border-color:#0B51C5; background-color:#0B51C5;
        .btn_box_text{ color:#fff; }
    }
    &.primary_dark_full{
        border-color:#0B51C5; background-color:#013284;
        .btn_box_text{ color:#fff; }
    }
    &.max_reset{max-width:fit-content !important;}
}
.btn_box_text{@include font(20px, 700, 1, 0, #000); display:inline-block;}
.btn_box_wrap{
    display:flex; justify-content: center; gap:12px; text-align:center; flex-wrap:wrap;
    &.each_type{
        .btn_box{
            flex:auto; min-width:260px;
        }
    }
    .btn_box{flex:1;max-width:260px;}
}
.btn_ico{
    display:inline-block; width:24px;height:24px; @include bgicon;
    &.delete{background-image:url("../images/ico_delete_24.png");}
}
@media (max-width:$tablet){
    .btn_box{
        min-height:50px;
    }
    .btn_box_text{font-size:18px;}
    .btn_box_wrap{
         &.each_type{
            .btn_box{
                min-width:220px;
            }
        }
        .btn_box{max-width:220px;}
    }
}
@media (max-width:$mobile_large){
    .btn_box_wrap{
        &.each_type{
            .btn_box{
                min-width:0;
            }
        }
    }
    .btn_box{min-height:45px;}
    .btn_box_text{font-size:16px;}
}
@media (max-width:$mobile){
    .btn_box_wrap{
        margin-top:30px; flex-direction: column;
        &.nobreak{
            flex-direction: row;
        }
        &.each_type{
             flex-wrap:wrap; gap:10px 0;
            .btn_box{
                min-width:0;
            }
        }
        .btn_box{max-width:100%;}
    }
    .btn_box{min-height:45px;}
}

/* tab */
.boxtab_wrap{}
.boxtab_list{
    display:flex; min-height:56px; 
    > li{flex:1;
        &:last-of-type{
            .boxtab{
                &:after{display:none;}
            }
        }
    }
}
.boxtab{
    display:flex; min-height:100%; flex-direction: column; width:100%; background:#F8F8F8; box-sizing: border-box;padding:10px; position:relative; justify-content:center; text-align:center; align-items:center;
    &:after{display:block;content:'';width:1px;height:100%;position:absolute;top:0;right:0;background:#E6E6E6;}
    &.active{
        background-color:#0B51C5;
        .boxtab_text{color:#fff;}
        &:after{display:none;}
    }
}
.boxtab_text{@include font(16px, 700, 1, 0, #595959); display:inline-block;}
@media (max-width:$tablet){
    .boxtab_list{min-height:50px;}
}
@media (max-width:$mobile_large){
    .boxtab_text{font-size:14px;}
    .boxtab_list{min-height:45px;}
}

/* form */
.block_form_wrap{}
.block_form_list{
    > li{
        margin-bottom:36px;
        &:last-of-type{margin-bottom:0;}
    }
}
.block_form_item{}
.block_form_label_row{margin-bottom:12px;
    &.vhidden{visibility:hidden;}
}
.block_form_label{
   @include font(16px, 400, 1.3, 0, #000);
  .ico_import{margin-left:5px;vertical-align:top; position:relative;top:3px;}
}
.block_form_enter_row{}
.block_warn_row{margin-top:4px;}
.block_warn_para{@include font(12px, 400, 1.3, 0, #AF0101);}
input.form_input{
    appearance: none; height:48px;  @include font(16px, 400, 1, 0, #000); border:0; border-bottom:1px solid #BDC5D1; border-radius:0; width:100%; box-sizing: border-box;
    &.warn{border-color:#AF0101;}
    &:focus{border-bottom-color:#000;}
    &:read-only,
    &:disabled{background:#F8F8F8; color:#aaa; padding:0 13px;}
    &::placeholder{color:#aaa;}
}
.props_item_wrap{}
.props_item_list{
    display:flex; gap:10px 36px; gap:24px;
    &.gap_type2{gap:36px;}
    > li{
        &:last-of-type{}
    }
}
.props_item{
    display:flex; gap:4px;
}
input.props_dom{
    appearance: none; width:22px; height:22px; flex:0 0 22px; @include bgicon; background-image:url("../images/ico_checkbox_22.png"); border:1px solid #DBDBDB; border-radius:4px; box-sizing:content-box;
    &[type="radio"]{border-radius:100%; background-image:url("../images/ico_radio.png");
        &:checked{border-color:#4285F4;}
    }
    &:checked{background-position:0 100%;}
}
.props_label{@include font(14px, 400, 1, 1.3, #000); display:inline-block; padding-top:4px; cursor:pointer;}
.inline_flex_wrap{
    display:flex; gap:12px;
    .inline_long{
        flex:1; min-width:0;
        input.form_input{}
    }
    .inline_short{flex:0;white-space:nowrap;}
}
.btn_inline_control{display:flex; white-space:nowrap; align-items:center; justify-content:center; text-align:center; min-height:48px; @include font(14px, 500, 1.3, 0, #000); box-sizing:border-box; border-radius:100px; border:1px solid #E6E6E6; padding:12px 24px; background:#F8F8F8;}
.grid_form_wrap{}
.grid_form_list{
    display:flex; flex-wrap:wrap; gap:36px 52px;
    > li{flex:0 0 calc(50% - 26px);}
}

.block_validate_row{margin-top:4px;}
.validate_dom_list{
    display:flex; flex-wrap:wrap; gap:8px;
    > li{}
}
.validate_dom{
    display:flex; gap:2px;
    &.active{
        .validate_ico{background-position:0 100%;}
        .validate_label{color:#4DC659;}
    }
}
.validate_ico{display:inline-block; width:16px; height:16px; @include bgicon; background-image:url("../images/ico_iden_chk2.png");}
.validate_label{@include font(12px,400,1.3,0,#C1C1C1); display:inline-block;}
.field_section_wrap{}
.field_section{
    border-bottom:1px solid #E6E6E6; padding-bottom:72px; margin-bottom:72px;
    &:last-of-type{border-bottom:0;padding-bottom:0;margin-bottom:0;}
}
.field_title_row{
    display:flex; justify-content: space-between; gap:20px; align-items:center; margin-bottom:48px;
    .main_cols{}
    .sub_cols{text-align:right;}
}
.field_title{@include font(16px, 500, 1, 1.3, #000);}
.field_guide_copy{
    @include font(12px, 400, 1, 1.3, #595959);
    .ico_import{margin-right:5px;}
}
.ico_import{display:inline-block; @include bgicon; background-image:url("../images/etri.svg"); width:5px;height:6px; vertical-align:middle;}
.field_content_row{}
.multi_ring_wrap{display:flex; align-items:center; gap:12px;

    .unit_text{@include font(16px,400,1,1,#595959);}
}
.multi_ring_long{
  flex:1; display:flex; align-items:center;
  .unit_text{padding-left:10px; display:none;}
  input.form_input{}
}
.multi_ring_short{flex:0 0 120px;white-space:nowrap;}
.multi_ring_unit{
  flex:0;white-space:nowrap; /* padding:0 12px; */
}
/* select.block_form_select{
 appearance: none; box-sizing:border-box; height:48px; font-size:16px; line-height:46px; width:100%; border:0; border-bottom:1px solid #BDC5D1; padding:0 42px 0 0; background:url("../images/ico_select_arrow.png") no-repeat calc(100% - 13px) 50%/16px auto;
    &:required:invalid{color:#aaa;}
}
select.form_select{
 appearance: none; box-sizing:border-box; height:48px; font-size:16px; line-height:46px; width:100%; border:1px solid #E6E6E6; border-radius:8px; padding:0 42px 0 13px; background:url("../images/ico_select_arrow.png") no-repeat calc(100% - 13px) 50%/16px auto;
} */

select.form_select{
 appearance: none; box-sizing:border-box; height:48px; font-size:16px; line-height:46px; width:100%; border:1px solid #E6E6E6; border-radius:8px; padding:0 42px 0 13px; background:url("../images/ico_select_arrow.png") no-repeat calc(100% - 13px) 50%/16px auto;
    &.block_type{
         border:0; border-bottom:1px solid #BDC5D1; border-radius:0; padding-left:0;
    }
    &:required:invalid{color:#aaa;}
}

.field_setbox{
    border-radius:16px; border:1px solid #E6E6E6; padding:36px;
}
.field_setbox_list{
  > li{
    margin-bottom:24px; display:flex; justify-content:space-between; gap:20px; 
    &:last-of-type{margin-bottom:0;}
  }
}
.setbox_th_cols{}
.setbox_thtext{@include font(16px,400,1.3,1,#000); display:inline-block;}
.setbox_td_cols{
  .props_item_list{}
}
.mobile_sm_placeholder,
.mobile_placeholder{font-size:12px; color:#aaa; margin-top:10px; display:none;}
@media (max-width:$tablet){
    .btn_inline_control{padding:12px 20px;}
    
    .grid_form_list{gap:25px 30px;
        > li{flex-basis: calc(50% - 15px);}
    }
}
@media (max-width:$mobile_large){
    /* .block_form_list{
         > li{margin-bottom:20px;}
    } */
    input.form_input{font-size:13px;height:45px;}
}
@media (max-width:$mobile){
    .inline_flex_wrap{gap:8px;
        &.break_type{
            display:block;
            .inline_short{
                margin-top:15px; text-align:right;
                .btn_inline_control{display:inline-flex;}
            }
        }
    }
    .multi_ring_wrap{display:block;
        &.nobreak{display:flex;}
    }
    .multi_ring_unit{display:none;}
    .multi_ring_short{white-space:normal;}
    .btn_inline_control{padding:8px 16px; min-height:45px; font-size:13px;}
    input.form_input{
        &.long_place{
            &::placeholder{color:transparent;}
        }
    }
    .mobile_placeholder{display:block;}
    .multi_ring_long{
        .unit_text{display:inline-block;}
    }
    .block_form_label_row{
        &.vhidden{display:none;}
    }

    .field_title_row{
        &.break_type{display:block;
            .sub_cols{text-align:left; margin-top:10px;}
        }
    }
    .setbox_thtext{font-size:14px;}
    .field_setbox_list{
        > li{display:block;}
    }
    .setbox_td_cols{margin-top:10px;}

    .grid_form_list{gap:25px 0;}
}
@media (max-width:$mobile_size3){
    input.form_input{
        &.long_place_sm{
            &::placeholder{color:transparent;}
        }
    }
    .mobile_sm_placeholder{display:block;}
}

/* modal */
.modal_wrap{
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    z-index: 100000; display: none; align-items: center;justify-content: center;
    min-width: 280px; overflow: hidden; overflow-y:auto; flex-wrap: wrap; box-sizing: border-box;
    &.active {
        display: flex;
        &.motion_end{
             .modal_box_item{
                 opacity: 1;
                 transform: translateY(0);
             }
             .bg_dim {
                 opacity: 0.7;
             }
        }
    }
}
.bg_dim {
    display: block;width: 100%;
    height: 100%;position: fixed;
    top: 0; left: 0; z-index: 0;
    background: #333; opacity: 0;
    transition: 0.5s opacity; 
    &.no_transition {
        transition: 0s;opacity: 0.6;transform: none;
    }
}

.modal_box_tb {
    display: table;width: 100%;height: 100%;
    table-layout: fixed;
}

.modal_box_td {
    display: table-cell;vertical-align: middle;
}

.modal_box_item {
    box-sizing: border-box; width: 100%;
    z-index: 20; background: #fff; text-align: center; box-sizing: border-box; opacity: 0; transition: 0.4s opacity;
    max-height: calc(100% - 60px); position: relative; max-width:258px;
    margin:30px auto; padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    &.close_not{
        padding:40px 100px 40px;
    }
    &.submit_not{
        padding:60px 100px;
    }
}

.message_dep01_word,
.message_dep02_word{display:block;text-align: center;}
.message_dep01_word{@include font(14px, 700, 1, 0, #000);}
.message_dep02_word{font-size:16px; color:#666666; margin-top:10px;}

.modal_box_message_row{display:flex; justify-content: center; align-items: center; text-align: center; min-height:66px;}
.modal_box_message{@include font(14px, 700, 1.4, 0, #000); word-break: keep-all;}
.btn_modal_close{display:inline-block;width:60px;height:60px;position:absolute;top:25px;right:25px;font-size:0;line-height:0;
    &:before,
    &:after{width:35px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#332d29; margin:-1px 0 0 -17px;
        transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
    }
    &:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
    &:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
}
.btn_modal_submit_wrap{margin-top:24px; display:flex; gap:12px; justify-content: center; text-align: center; padding:0 10px;}
.btn_modal_submit{
    display:flex; min-height:42px; flex:1; justify-content: center; white-space:nowrap; align-items: center; border:1px solid #000; border-radius:100px; box-sizing: border-box; padding:10px 24px;
    @include font(16px, 700, 1, 0, #000);
    &.okcall{color:#0B51C5; border-color:#0B51C5;}
    &.cancelcall{}
}
@media (max-width:$mobile){
    .btn_modal_close{width:50px;height:50px;top:0;right:0;
        &:before,
        &:after{width:20px;height:2px;margin:-1px 0 0 -10px;}
    }
    .modal_box_td{padding:20px 40px;}
    
    .modal_box_message{font-size:16px;}
    .message_dep01_word{font-size:16px;}
    .message_dep02_word{font-size:14px; margin-top:10px;}

    /* .btn_modal_submit_wrap{padding:0;} */
    .btn_modal_submit{padding:10px; font-size:14px;}
}
@media (max-width:$mobile_size1){
    .modal_box_item{
        max-width:100%;
        &.close_not{
            padding:30px 20px 30px;
        }
        &.submit_not{
            padding:40px 20px 40px;
        }
    }
}


/* popup */
.btn_guide_box{display:inline-block;padding:10px 20px; border:1px solid #ddd; color:#000;font-size:16px;}
.popup_wrap{
    position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:280px;overflow:hidden;flex-wrap:wrap;
    &.active{
        display:flex;
        &.motion_end{
            .popup_item{opacity:1;}
            .bg_dim{opacity:.7;}
        }
    }
    .bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#333;opacity:0;transition:.5s;
        &.no_transition{transition:0s;opacity:.7;transform:none;}
    }
}


.popup_modal_box{padding:65px 100px 40px;text-align: center;
    .btn_bottom_wrap{margin-top:30px;}
}
.popup_modal_para{font-size:24px;color:#555555; line-height:1.4;}




.popup_item{
    box-sizing: border-box;z-index:20; max-width:900px;margin:50px auto; max-height:calc(100% - 100px); background:#fff;  position:relative; display:flex; flex-direction: column;
    width:100%;opacity:0;transition:.4s;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
    border-radius: 24px;

    &.modal_type{max-width:540px;}

    &.sm_type2{max-width:680px;}
    &.sm_type3{max-width:600px;}
    &.sm_type4{max-width:636px;}

    &.single_type{
        max-width:540px;
        .popup_contents_row{padding:0 0 0}
    }
    &.no_transition{transition:0s;opacity:1;transform:none;}

    &.skin2{
        .popup_title_row{padding-top:24px;padding-left:24px;}
        .popup_title{font-size:30px; font-weight:700;}
        .popup_contents_row{padding:0 24px 36px;}
        .btn_popup_close{top:30px; right:24px;}
    }
}
.popup_title_row{padding:32px 80px 20px 36px;}
.popup_title{ @include font(20px, 500, 1.4, 0, #000);
}
.popup_contents_row{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:16px;color:#333333;padding:0 40px 40px;}
.popup_btn_row{display:flex; justify-content: center; align-items: center; gap:12px; padding:36px; width:100%; box-sizing: border-box;
    &.align_type2{
        gap:36px; justify-content: flex-start; align-items: flex-start;
    }
    &.align_type3{
        justify-content: space-between;
    }
}
.btn_bottom_short{}
.btn_bottom_long{flex:1; display:flex; min-width:0;
    &:last-of-type{justify-content:flex-end; gap:12px;}
}

.btn_submit_box{display:flex; min-height:56px; min-width:180px; box-sizing: border-box; text-align: center; align-items: center; justify-content: center; border:1px solid #000; border-radius:100px; padding:12px 30px;
    &.primary{
        border-color:#005AAB;
        .btn_submit_box_text{color:#005AAB;}
    }
    &.primary_full{
        background-color:#0053C2; border-color:#0053C2;
        .btn_submit_box_text{color:#fff;}
    }
    &.primary_dark_full{
        border-color:#0B51C5; background-color:#013284;
        .btn_box_text{ color:#fff; }
    }
    &.sm_type2{min-width:109px;}
    &.long_type{padding-left:70px;padding-right:70px;}
}
.btn_submit_box_text{ @include font(20px, 700, 1, 0, #000); display:inline-block; word-break: keep-all;}

.btn_popup_close{display:inline-block;width:24px;height:24px;position:absolute;top:34px;right:36px;font-size:0;line-height:0; @include bgicon; background-image:url("../images/btn_popup_close.png");}

.btn_box_close{display:inline-block;width:50px;height:50px;position:absolute;top:10px;right:10px;font-size:0;line-height:0;
    &:before,
    &:after{width:28px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#332d29; margin:-1px 0 0 -14px;
        transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
    }
    &:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
    &:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
}

.popup_cont_block{
    &.top_pos{padding:65px 80px 40px;}
    &.type2{background:#f8f8f8; text-align:center; padding:40px 35px}
    &.agree_top_pos{padding:65px 80px 5px;}
    &.agree_pos{padding:20px 60px 25px;}
    &.agree_pos_pw{padding:20px 30px 25px;}
    &.agree_type2{background:#f8f8f8; padding:20px 25px; margin:0px 30px;}
    &.agree_type1{padding:5px 25px;text-align:center; }
    &.top_pos_pw{padding:30px 80px 30px;}
}
.popup_cont_message{text-align: center; font-size:24px; line-height:1.3; color:#222; font-weight:500; word-break: keep-all;}
.popup_cont_emp{text-align: center;word-break: keep-all;font-size:20px;color:#222222; font-weight:700;
    strong{color:#000;}
}
.popup_cont_sub{margin-top:5px;color:#666666;}
.pcont_sub_text{font-weight:500;}
.popup_cont_emp_pwch{text-align: center;word-break: keep-all;font-size:20px;color:#222222; font-weight:300;}


@media (max-width:$mobile_large){
    .popup_item{
        margin:50px; max-height:calc(100% - 100px); border-radius:14px;
        .btn_submit_box{min-height:40px; min-width:0; padding:12px 30px 13px;
            // &:only-child{flex:1; max-width:70%;}

            &.sm_type2{min-width:0;padding-left:20px;padding-right:20px;}
            &.long_type{padding-left:12px;padding-right:12px; flex:1;}
        }
        .btn_submit_box_text{font-size:14px;}
    }
    
}

@media (max-width:$mobile){
    .popup_item{
        max-width:100%;margin:15px; max-height:calc(100% - 30px);
        .popup_btn_row.btn_bottom_wrap{margin:0; width:auto; max-width: inherit;}
        &.full_type{
            margin:0; max-height:100%; height:100%;
        }

         &.skin2{
            .popup_title_row{padding-top:20px;padding-left:20px;}
            .popup_title{font-size:18px;}
            .popup_contents_row{padding:0 20px 30px;}
            .btn_popup_close{top:21px; right:18px;}
        }
    }
    .popup_title_row{padding:15px 60px 15px 20px;}
    .popup_title{font-size:16px;}
    .popup_contents_row{font-size:14px;padding:10px 20px 30px;}
    .btn_popup_close{top:14px;right:18px;}
    .btn_box_close{width:50px;height:50px;top:0;right:0;
        &:before,
        &:after{width:20px;height:2px;margin:-1px 0 0 -10px;}
    }
    .popup_modal_box{padding:50px 20px 30px;}
    .popup_modal_para{font-size:16px;}
    .popup_cont_message{font-size:16px;}
    .popup_cont_emp{font-size:14px;}
    .popup_cont_sub{font-size:14px;}
    .cont_emp_sub{font-size:12px;}

    .popup_btn_row{padding:20px; gap:10px;
        &.align_type2{
            gap:10px; 
            /* .btn_bottom_short,
            .btn_bottom_long{flex:auto;width:auto;display:inline-flex;} */
            .btn_bottom_long{gap:5px; justify-content:center;}
        }
    }
}

@media (max-width:$mobile_size3){
    .popup_item{
        .btn_submit_box{padding:12px 12px 13px;
            &.sm_type2{padding-left:12px;padding-right:12px;}
            &.long_type{padding-left:12px;padding-right:12px;}
        }
        .btn_submit_box_text{font-size:12px;}
    }

    .popup_btn_row{
        &.btn_bottom_wrap{flex-wrap: wrap;}
    }
}