.pouch_calendar_box{
    background: #FFFFFF;box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);border-radius: 24px; text-align:center; padding:16px 16px 12px;
    .title_row{margin-bottom:10px;}
    .control_row{display:flex; justify-content: space-between; text-align:center; align-items:center;}
    .control_else_row{}
    .render_row{}
    &.type2{
        box-shadow: none; background:none; padding:0; margin-bottom:24px;
        .pouch_calendar{
            tbody{
                td{height:31px;}
            }
        }
    }
}
.pouch_title{@include font2(16px,700,1.6,#005AAB);}
.btn_pouch_nav{
    width:16px; height:16px; @include bgicon; display:inline-block; flex:0 0 16px;
    &.prev{background-image:url("../images/ico_prev_calendar.png");}
    &.next{background-image:url("../images/ico_next_calendar.png");}
    &.with_text{
        background:none;width:auto; display:inline-flex; align-items: center; gap:4px; white-space:nowrap;
        &.prev{
            .ico{background-image:url("../images/ico_prev_calendar.png");}
        }
        &.next{
            .ico{background-image:url("../images/ico_next_calendar.png");}
        }
        .text_node{}
        .ico{width:16px; height:16px; @include bgicon; display:inline-block;}
    }
    .text_node{}
}
.pouch_fraction{@include font2(14px,700,1.3,#000); display:inline-block;}
.btn_pouch_text{display:inline-block; @include font2(12px,500,1.3,#595959); text-decoration:underline !important;}

.pouch_calendar_wrap{margin-top:12px;}
.pouch_calendar{
    width:100%; table-layout:fixed; border-collapse: collapse;
    thead{
        tr{
            th{
                padding: 16px 0;
                &.sun{
                    .pouch_thtext{
                        color:#AF0101;
                    }
                }
                &.sat{
                    .pouch_thtext{
                        color:#0258AD;
                    }
                }
            }
        }
    }
    tbody{
        tr{
            td{
                border:1px solid #fff; padding:3px;
                &.not_month_date{}
                &.disabled{background:#E6E6E6;
                    .pouch_date{color:#aaa}
                    .pouch_tditem{cursor:default;}
                }
                &.enabled{background:#EDF2FB;
                    .pouch_date{color:#005AAB;
                        &:hover{color:#00A7FC;}
                    }
                }
            }
        }
    }
}
.pouch_thtext{display:inline-block; @include font2(12px,400,1,#595959);}
.pouch_tditem{@include spoca;
    > *{display:block;}
    &:disabled{cursor:default;}
}
.pouch_date{@include font2(12px,400,1,#aaa);}
.pouch_date_copy{margin-top:2px;}