.both_panel_container{
    display:flex; gap:48px;
    .contents_cols{flex:1;min-width:0;}
    .else_cols{flex:0 0 160px;}
}
.result_message_row{
    & + .context_box_wrap{margin-top:48px;}
}
.result_message_para{
    @include font2(20px,400,1.4,#595959);
}
.result_keyword{color:#B5000F; }
.context_box_wrap{

}
.context_box_list{
    > li{
        margin-bottom:48px;
        &:last-of-type{}
    }
}
.context_box_item{
    .title_row{
        margin-bottom:16px; display:flex; gap:16px; align-items:center;
        .title_node_para{@include font2(16px,400,1.4,#000);}
        .title_fraction_word{
            @include font2(13px,400,1.4,#000); 
            .emp{@include spoca; color:#B5000F; font-weight:700;}
        }
    }
}
.context_box{
    border:1px solid #E6E6E6; border-radius:16px; padding:36px; display:flex; gap:86px;
    .img_cols{flex:0 0 226px; display:flex;  }
    .description_cols{flex:1;}
}
.context_thumnail_wrap{
    flex:1; outline:1px solid red; display:flex; justify-content: center; align-items:center;   padding:20px;
    > img{object-fit:contain; object-position:50% 50%; height:45px; max-width:100%;}
}
.des_main_row{
    display:flex; flex-wrap:wrap; gap:20px;
    .primary_cols{flex:0 0 calc(60% - 20px);}
    .sub_cols{flex:0 0 40%;}
}
.des_main_title,
.des_sub_title{@include clamp(1);}
.des_main_title{@include font2(16px,700,1.4,#000);}
.des_sub_title{@include font2(14px,400,1.4,#000);}
.des_summary_row{margin-top:36px;}
.des_tuple_list{
    display:flex; flex-wrap:wrap;margin-right:-20px; gap:14px 20px;
    > li{
        flex:0 0 calc(33.3333333% - 20px);
        &.full{flex:0 0 100%;}
    }
}
.des_tuple_obj{
    display: flex; gap:12px;
    dt,dd{}
    dt{}
    dd{}
}
.des_tuple_obj{}
.tuple_keyword{display:inline-block; background:#BDC5D1; @include font2(13px,500,21px,#fff); border-radius:4px; white-space:nowrap; height:22px; padding:0 8px; text-align:center;}
.tuple_value{display:inline-block; @include font2(14px,400,1.4,#000);}

.nodata_noticebox{}
.nodata_copy_group{
    .main_copy{}
    .sub_copy{}
}


.hor_column_wrap{}
.hor_column_list{
    > li{
        &:last-of-type{}
    }
}
.hor_column_item{
    .title_cols{}
    .summary_cols{}
    .btn_cols{
        .btn_icon{}
    }
}
.hor_column_copy_group{
    .main_copy{}
    .sub_copy{}
}
.des_tuple_list{
    > li{
        &.full{}
    }
}
.des_tuple_obj{
    dt,dd{}
    dt{}
    dd{}
}
.tuple_keyword{}
.tuple_value{}

.state_box_wrap{position:sticky; top:0;}
.state_box{border:1px solid #E6E6E6; border-radius:12px;padding:16px 12px 24px;}
.state_title_row{}
.state_title{
    .ico{
        &.search{}
    }
    .text_node{}
}
.state_contents_row{}
.state_rank_list{
    > li{
        &:last-of-type{}
    }
}
.state_rank_item{}
.rank_number{}
.rank_text_node{}