/* design page */
.stack_item{
    &:last-of-type{}
}
.stack_title_row{margin-bottom:12px;}
.stack_title{@include font2(16px,500,1.4);}
.stack_contents_row{
    .bullet_list{}
}
.word_info_tb_wrap{margin-top:12px;}
.word_info_tb_inner{display:inline-block;border:1px solid #E6E6E6; border-radius:8px;padding:7px 11px;}
.word_info_tb{
    
    td{
        padding:4px 5px; text-align: left;
        &:last-of-type{padding-right:0;}
    }
}
.word_key_text{@include font2(14px,500,1.4,#000);}
.word_emp_number{@include font2(14px,500,1.4,#B5000F); @include spoca;}
.word_sub_text{@include font2(14px,500,1.4,#595959);}
.screen_box_container{
    margin-top:12px; border:1px solid #E6E6E6; text-align: center; background-position:0 0; background-size:100% auto; min-height:434px; 
    display:flex; justify-content: center; align-items: center; box-sizing: border-box; padding:30px;
}
.screen_box_copy_wrap{}
.screen_box_main_copy{@include font2(24px,700,1.4,#005AAB);word-break: keep-all}
.screen_box_sub_copy{@include font2(16px,400,1.6,#000); margin-top:23px; word-break: keep-all}
.screen_box_sub2_copy{
    @include font2(16px,400,1.6,#000); margin-top:27px; display:flex; gap:15px; flex-wrap:wrap; justify-content: center; word-break: keep-all;
    .color_marking{@include font2(16px,500,1.6,#005AAB); @include spoca}
}
.screen_slice_word_group{display:inline-flex; gap:8px; flex-wrap:wrap;}

.style_box_wrap{}
.style_box_list{
    display:flex;
    > li{flex:1; display:flex;}
}
.style_box{
    background-color:#FFF2F2;flex:1;  padding:16px 24px;
    .title_row{margin-bottom:10px;}
    .contents_row{margin-bottom:10px;}
    &.skin2{
         background-color:#F2FFF7;
        .title_row{}
        .contents_row{}
        .style_box_title{color:#25B05A;}
        .style_box_number{}
        .style_box_cpara{}
    }
    &.skin3{
        background-color:#F6F2FF;
        .title_row{}
        .contents_row{}
        .style_box_title{color:#7447D8;}
        .style_box_number{}
        .style_box_cpara{}
    }
}
.style_box_title{@include font2(16px,400,1,#FC4C4C);}
.style_box_number{@include font2(20px,500,1,#000); @include spoca;}
.style_box_cpara{margin-top:10px;@include font2(14px,400,1.5,#595959);}
.style_box_cpara2{margin-top:10px;@include font2(16px,400,1.5,#000);}

.info_block_wrap{}
.info_block_list{
    > li{
        margin-top:36px;
    }
}
.info_block{
    .title_row{margin-bottom:16px;}
    .contents_row{}
}
.info_block_title{
    display:flex;gap:3px;
    .ico{
        width:24px;height:24px; @include bgicon; flex-basis: 24px; display:block;
        &.chk{background-image:url("../images/ico_design_chk.png")}
    }
    .text_node{@include font2(16px,500,1.3,#000); display:inline-block;padding-top:1px;}
}
.info_box_list{
    > li{
        margin-bottom:12px;
        &:last-of-type{margin-bottom:0;}
    }
}
.info_box_item{
    background: #FFFFFF; border: 1px solid #E6E6E6; border-radius: 12px; padding:28px 36px; display:flex; flex-direction: column; align-items: flex-start; gap:16px 0;
    &.dis_type2{gap:24px; align-items: center; justify-content: flex-start; flex-direction: row;}
    .info_cols{flex:none; }
    .info_row{flex:0;align-items: flex-start;
        &.cont_row{margin-left:20px;}
    }
    .info_cols{
        .btn_action_func{}
    }
    .indent_dom_list{}
}
.info_node_para{
    @include font2(13px,400,1.5,#595959);
    margin-bottom:8px;
    &:last-of-type{margin-bottom:0;}
    &.emp{color:#000; font-size:14px;}
}
.indent_para_node{
    display:flex; @include font2(16px,500,1.4,#005AAB); gap:5px;
    .indent_bullet{flex:0; white-space: nowrap;}
    .indent_liquid_para{flex:1;}
}

.diagram_text_wrap{width:100%;}
.diagram_text_list{
    display:flex; gap:60px; text-align: center;
    > li{
        flex:1; position:relative;
        &:after{display:block;content:'';width:60px;height:60px;position:absolute;top:50%;right:-60px; transform: translateY(-50%); @include bgicon; background-image:url("../images/ico_arrow_dia.png");}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.diagram_text_dom{

}
.diagram_box_node{
    display:flex;justify-content: center; align-items: center; width:120px;height:120px; background:#EDF2FB; border-radius:100%; text-align: center; margin:0 auto;
    .text_node{@include font2(16px,500,1.4,#005AAB);}
}
.diagram_sub_row{
 margin-top:24px; 
}
.diagram_sub_para{@include font(14px,400,1.5,#000); word-break: keep-all;}

.contain_guide_wrap{margin-top:36px;}
.contain_guide_item{
    text-align:center; background:#F8F8F8;
    img{vertical-align:top; max-width:340px; margin:0 auto;padding:15px 0;}
}

.contain_note_wrap{}
.contain_note_para{@include font2(16px,500,1.4,#000); 
    & + .indent_note_list{margin-top:12px;}
}

.useguide_container{padding-top:36px;}
.useguide_block{
    margin-bottom:50px;
    &:last-of-type{margin-bottom:0;}
}
.useguide_title_row{margin-bottom:24px;}
.useguide_title{
    display:inline-flex; gap:8px; align-items: center;
    .ico{
        width:40px;height:40px; flex:0 0 40px; @include bgicon;
        &.voice{background-image:url("../images/ico_title_voice.png")}
        &.product{background-image:url("../images/ico_title_product.png")}
    }
    .text_node{@include font2(24px,700,1.3,#000);}
}
.useguide_tab_row{
    display:flex; align-items: center; gap:77px;
    > .tailtab_wrap{flex:1; min-width:0; margin-bottom:0;}
    .long_cols{
        flex:1; min-width:0;
        .tailtab_wrap{margin-bottom:0;}
    }
    .auto_cols{
        .btn_taskbox_list{}
    }
}
.useguide_contents{margin-top:24px;}

.display_product_container{
    display:flex; gap:80px;
    .product_cols{flex:1; min-width:0;}
    .render_cols{
        flex:1; min-width:0;
        .boxtab_wrap{}
    }
}
.dp_product_wrap{}
.dp_product_list{
    > li{
        margin-bottom:24px;
        &:last-of-type{margin-bottom:0;}
    }
}
.dp_product_box{border-radius:16px;border:1px solid #E6E6E6;padding:24px 36px;}
.render_pos_box{
    border:1px solid #E6E6E6; border-radius:16px; padding:24px 36px; margin-top:24px; text-align: center;
    img{}
}

@media (max-width:$mobile_large){
    .stack_title{font-size:14px;}
    .word_key_text,
    .word_emp_number,
    .word_sub_text{font-size:12px;}

    .screen_box_main_copy{font-size:18px;}
    .screen_box_sub_copy{font-size:14px; margin-top:16px;}
    .screen_box_sub2_copy{
        font-size:14px; margin-top:16px;gap:5px 10px;
        .color_marking{font-size:14px;}
    }
    .screen_box_container{min-height:300px;}
    
    .style_box_wrap{}
    .style_box_list{
        flex-direction: column;
        > li{flex:0}
    }
    .style_box{
         padding:16px;
         .contents_row{margin-bottom:0;}
    }
    .style_box_title{font-size:14px;}
    .style_box_number{font-size:16px;}
    .style_box_cpara{font-size:14px;}
    .style_box_cpara2{font-size:14px;}

    .info_block_title{
         .ico{width:20px;height:20px;flex-basis: 20px;}
         .text_node{padding:0; font-size:14px;}
    }

    .info_block{
         .title_row{margin-bottom:10px;}
    }

    .info_box_item{padding:20px 20px; border-radius:8px; gap:5px 0;
        &.dis_type2{flex-direction: column; align-items: flex-start; gap:10px;}
        .info_row{
            &.cont_row{margin:5px 0 0 0;}
        }
    }
    .indent_para_node{font-size:14px;}


    .diagram_text_list{
        display:block;
        > li{
            padding-bottom:0;
            &:after{width:60px;height:60px;position:static;transform: translateY(0); margin:0 auto;transform: rotate(90deg);}
            &:last-of-type{
                &:after{display:none;}
            }
        }
    }
    .diagram_box_node{width:100px;height:100px;
        .text_node{font-size:14px;}
    }
    .diagram_sub_row{margin-top:15px;}

    .contain_note_para{font-size:14px;}
    

    .contain_guide_wrap{margin-top:36px;}
    .contain_guide_item{
        padding:10px;
        img{ max-width:100%;}
    }


    
    .useguide_container{padding-top:20px;}
    .useguide_block{
        margin-bottom:30px;
    }
    .useguide_title_row{margin-bottom:15px;}
    .useguide_title{
        .ico{
            width:24px;height:24px; flex:0 0 24px;
        }
        .text_node{font-size:16px;}
    }
    .useguide_tab_row{
        gap:15px 0; flex-direction: column; align-items: normal;
        > .tailtab_wrap{flex:1;}
        .long_cols{
            flex:1;
            .tailtab_wrap{margin-bottom:0;}
        }
        .auto_cols{
            display:flex; flex-wrap:wrap; justify-content: flex-end;
            .btn_taskbox_list{}
        }
    }
    .useguide_contents{margin-top:24px;}

    .display_product_container{
        flex-direction: column; gap:40px 0;
        .product_cols{flex:1;}
        .render_cols{
            flex:1;
            .boxtab_wrap{}
        }
    }
    .dp_product_wrap{}
    .dp_product_list{
        > li{
            margin-bottom:10px;
        }
    }
    .dp_product_box{border-radius:10px;padding:15px 25px;}
    .render_pos_box{
        border-radius:10px; padding:20px; margin-top:24px;
        img{}
    }
}


/* 서비스 이용안내 */
.stylebox_grid_wrap{position:relative;overflow: hidden;}
.stylebox_grid_list{
    display:flex; flex-wrap:wrap; gap:36px 24px; margin-right:-24px;
    > li{
        flex:0 0 calc(50% - 24px);
        &.full{flex: 0 0 calc(100% - 24px);}
    }
}
.stylebox_item{
    border-radius:24px; display:flex; gap:20px; padding:24px 36px; background-color:#D2EBE3; align-items: center; box-sizing: border-box; min-height:100%;
    .copy_cols{flex:1; min-width:0; display:flex; flex-direction: column; justify-content: space-between; align-items: flex-start; gap:25px;}
    .img_cols{flex:0 0 160px;}
    &.skin2{background-color:#D4D2EB;}
    &.skin3{background-color:#D2DAEB;}
    &.skin4{background-color:#EBDED2;}
}
.sb_title_row{display:flex; align-items: center; gap:3px;}
.sb_title_node{@include font2(20px,700,1.3,#000); word-break: keep-all;}
.sb_title_emp{display:flex; height:48px; flex:0 0 48px; justify-content: center; background:#000; border-radius:100%;width:48px; align-items: center; text-align: center;@include font2(20px,700,1,#fff)}
.sb_cont_main_ment{@include font2(24px,700,1.3,#000); word-break: keep-all;}
.sb_cont_sub_ment{@include font2(13px,400,1.3,#000);margin-top:5px; word-break: keep-all;}
.sb_cont_sub2_ment{@include font2(13px,400,1.3,#595959);margin-top:5px; word-break: keep-all;}
.sb_cont_row{width:100%;}
.shape_wrap{
    img{vertical-align: top;}
}
.sb_process_list{
    display:flex; gap:120px;
    > li{
        position:relative;
        &:after{display:block;content:'';width:47px;height:47px; @include bgicon; background-image:url("../images/ico_sb_process_img.png");position:absolute;top:50%;right:-85px;transform: translateY(-50%);}
        &:last-of-type{
             &:after{display:none;}
        }
    }
}

.shape_step_wrap{

}
.shape_step_list{
    display:flex; gap:84px; text-align: center;
    > li{
        flex:1; position:relative;
        .arrow_box{
            height:160px; position:absolute;top:0;right:-84px;width:84px;
            &:after{
                display:block;content:'';width:20px;height:20px; position:absolute;top:50%;left:50%; border-right:1px solid #A67951; border-bottom:1px solid #A67951; margin:-10px 0 0 -15px; transform: rotate(-45deg);
            }
        }
        &:last-of-type{
             &:after{}
        }
    }
}
.shape_step_item{

}
.shape_node_group{
    width:160px; height:160px; margin:0 auto; display:flex; justify-content: center; align-items: center; text-align: center; background:#E9D0BA; border-radius: 100%;
    .text_node{@include font2(20px,500,1.3,#A67951)}
}
.shape_spec_group{
    margin-top:24px;
}
.main_spec_copy,
.sub_spec_copy{word-break: keep-all}
.main_spec_copy{@include font2(14px,400,1.4,#000);}
.sub_spec_copy{@include font2(12px,400,1.4,#595959); margin-top:4px;}

.remark_guide_wrap{margin-bottom:80px;}
.remark_block{
    margin-top:36px;
}
.remark_title{@include font2(20px,700,1.3,#000); margin-bottom:15px;}
.remark_content{}
.remark_card_box{background:#F8F8F8; border-radius:12px; padding:24px 36px; @include font2(14px,400,1.3,#000);}
.remark_card_title{margin-bottom:12px;}
.remark_card_cont{}
.remark_card_copy{}

@media (max-width:$tablet){
    .sb_process_list{
        display:flex; gap:60px;
        > li{
            &:after{width:30px;height:30px;right:-45px;}
            &:last-of-type{
                &:after{display:none;}
            }
        }
    }
    .sb_cont_main_ment{font-size:20px;}
    .stylebox_item{
        .copy_cols{gap:15px;}
        .img_cols{flex:0 0 140px;}
    }
}
@media (max-width:$mobile_large){
    .stylebox_grid_wrap{}
    .stylebox_grid_list{
        gap:10px; margin-right:0;
        > li{
            flex:0 0 100%;
            &.full{flex: 0 0 100%;}
        }
    }
    .stylebox_item{
        padding:15px 20px; border-radius: 18px;
        .copy_cols{gap:10px;}
        .img_cols{flex:0 0 70px;}
    }
    .sb_title_node{font-size:14px;}
    .sb_title_emp{font-size:13px; width:40px;height:40px; flex:0 0 40px;}
    .sb_cont_main_ment{font-size:14px;}
    .sb_cont_sub_ment{font-size:12px;}
    .sb_process_list{
        flex-direction: column; align-items: normal; gap:50px 0;
        > li{
            &:after{
                transform: rotate(90deg); right:auto; left:50%;top:calc(100% + 9px); margin-left:-15px;
            }
        }
    }
    .shape_step_wrap{padding:10px 0;}
    .shape_step_list{
        flex-direction: column; align-items: normal; gap:0;
         > li{
            flex:0 0 100%;
             .arrow_box{height:40px;width:40px;position:relative; top:0;left:0; margin:20px auto;
               &:after{ transform: rotate(45deg); top:3px;left:10px; margin:0;} 
              }
         }
    }
    .shape_node_group{width:80px;height:80px;
        .text_node{font-size:14px;}
    }
    .shape_spec_group{margin-top:12px;}

    .remark_title{font-size:16px;}
    .remark_card_box{padding:20px; font-size:13px;}
    .remark_guide_wrap{margin-bottom:40px;}
}
@media (max-width:$mobile){
}