.feature_detail_page{}
.feature_gate_row{}
.fdata_title_row{
    margin-bottom:28px; min-height:66px; box-sizing:border-box; border-bottom:1px solid #E6E6E6; border-top:2px solid #BDC5D1; display:flex; gap:20px;
    .main_cols{flex:1;}
    .util_cols{
        display:flex; justify-content: flex-end; gap:24px;
        .btn_actbox_list{}
    }
}
.fdata_title{@include font2(24px,700,1.3,#005AAB); padding:18px 0;}
.fullsquare_items_wrap{}
.btn_fullspuare_box{
    display:flex; background:#64C200; box-sizing:border-box; min-height:100%; gap:8px; align-items: center; min-width:180px; justify-content: center; align-items:center;
    .ico{
        width:24px;height:24px; flex-basis:24px; @include bgicon;
        &.callback{background-image:url("../images/ico_callback_24.png");}
    }
    .text_node{@include font2(16px,700,1.3,#fff);}
}
.fdata_compact_row{border-bottom:1px solid #E6E6E6;padding-bottom:28px;}
.fdata_compact_wrap{
    display:flex;

    .compact_cols{flex:1; padding:0 24px; border-right:1px solid #E6E6E6;
        &:first-of-type{padding-left:0;}
        &:last-of-type{border-right:0;padding-right:0;}
    }
}
.fdata_thumnail_wrap{
    .thumnail_row{
         
    }
    .spec_row{margin-top:24px; text-align:center;}
}
.fdata_fiqure_wrap{
    height:174px; display:flex; align-items:center; justify-content: center;
    > img{height:44px; max-width:100%; object-fit: contain; object-position: 50% 50%;}
}
.fdata_imgspec_maincopy{@include font2(16px,700,1.3,#000);}
.fdata_imgspec_subcopy{@include font2(14px,400,1.3,#595959);margin-top:10px;}

.compact_chip_obj{
    .key_row{}
    .data_row{
        &.type2{}
    }
}
.compact_each_wrap{}
.compact_each_tb{
    width:100%;
    th,td{padding-bottom:12px;text-align:left;vertical-align:top;}
    th{width:1px;white-space: nowrap; padding-right:38px;}
    td{}
    tr{
        &:last-of-type{
            th,td{padding-bottom:0;}
        }
    }
}
.compact_each_thtext{@include font2(14px,400,1.4,#595959);}
.compact_each_tdtext{@include font2(14px,400,1.4,#000);
    &.emp{font-weight:700;}
}
.compact_each_thtext,
.compact_each_tdtext{display:inline-block; }
.compact_chip_obj{
    .key_row{margin-bottom:24px;}
    .data_row{}
}
.compact_chip_title{@include font2(14px,500,1.4,#000000);}
.fdata_btn_row{
    &.btn_box_wrap{margin-top:80px;}
    .btn_box{}
}

.feature_article_row{padding:80px 0;/* background:#F0F4FE; */ max-width:930px;margin:80px auto 0; position:relative;
    &:before{
        display:block; content:'';width:100vw; height:100%; position:absolute;top:0;left:50%; transform: translateX(-50%); background:#F0F4FE;
    }
    > *{position:relative;}
}
.rise_tab_zone{margin-bottom:60px;}
.floting_tab_wrap{
    &.fixed{position:fixed;top:0;left:50%;max-width:930px;margin:0 auto;width:100%; z-index:50; transform:translateX(-50%); box-sizing:border-box;}
    .boxtab_wrap{}
    .boxtab_text{line-height:1.3;word-break:keep-all;}
}
.rise_contents_zone{}
.rise_contents{margin-bottom:136px;
    &:last-of-type{margin-bottom:0;}
}
.rise_title_row{margin-bottom:20px;}
.rise_title{@include font2(24px,500,1.3,#000);}
.rise_inner_contents{border:1px solid #E6E6E6;position:relative; padding:30px;
    &:after{
        display:block; content:''; width:calc(100% + 2px); height:2px; background:#BDC5D1; position:absolute;top:-1px;left:-1px;
    }
    &.ptype2{padding:0;}
}
.rise_linkage_zone{
    img{vertical-align:top;}
}

.archive_container{}
.arc_block_wrap{}
.arc_block{
    margin-bottom:48px;
    &:last-of-type{margin-bottom:0;}
    &.define_title{}
    &.define_profile{}
    &.define_banner{}
    &.arc_obj{
        .title_row{margin-bottom:16px; display:flex;}
        .title_else_row{}
        .contents_row{}
    }
}
.title_util_list{
    position:relative; top:1px;
    > li{
        padding-left:32px; position:relative;
        &:after{
            display:block;content:'';width:1px;height:16px;background:#E6E6E6; position:absolute;top:50%;left:16px; transform: translateY(-50%);
        }
        &:last-of-type{
            &:after{}
        }
    }
}
.title_util_text{@include font2(16px,400,1.3,#005AAB)}
.arc_main_title{@include font2(20px,500,1.4,#000);}
.arc_block_title{@include font2(16px,500,1.4,#000)}
.arc_title_container{
    display:flex; justify-content: space-between; align-items: center; gap:20px; box-sizing: border-box; padding:18px 0; border-top:2px solid #E6E6E6; min-height:72px; border-bottom:1px solid #E6E6E6;
    .title_cols{flex:1; min-width:0;}
    .btn_cols{
        .btn_actbox_list{}
    }
}
.arc_block_banner{
    display:flex;background: #EDF2FB;border-radius: 16px; gap:24px; padding:30px 48px; align-items: center;
    .ico{width:60px; height:60px; flex:0 0 60px; @include bgicon; background-image:url("../images/ico_men_search.png");}
    .text_cols{flex:1; min-width:0;}
    .btn_cols{
        .btn_rolebox{}
    }
}
.arc_btn_row{
    &.btn_box_wrap{margin-top:48px;}
}

.voice_copy_group{}
.voice_main_copy{
    @include font2(20px,400,1.3,#005AAB);
    .emp{font-weight:700;}
    .copy_sub{font-size:14px;}
}
.voice_second_copy{
    @include font2(14px,400,1.3,#000); margin-top:8px;
}

.fraction_infocont_list{
    margin-top:12px; background:#fff; display:inline-flex; padding:8px 24px; border-radius: 100px; align-items: center; gap:10px 24px;
    > li{}
}
.fractino_info_package{
    display:inline-flex; align-items: center;
    .info_slice{
        padding:0 3px;
        &.part{font-size:16px; color:#000;}
    }
    .keytext{@include font2(16px,400,1.3,#000)}
    .valuetext{}
    .number_tc{@include spoca; font-size:16px; font-weight:700;}
    .unit_tc{font-size:14px; color:#595959;}
}

.api_info_templete{
    display:flex; gap:60px; min-height:438px;
    .spec_cols,
    .api_cols{flex:1;}
    .spec_cols{}
    .api_cols{border:1px solid #e6e6e6;display:flex;flex-direction: column;
        
    }
}
.api_map_render{flex:1;position:relative;}
.api_linkage_render{margin-bottom:48px;}
.api_main_copy{margin-bottom:48px; @include font2(20px,400,1.4,#000); text-align:center;}
.explan_info_tb_wrap{}
.explan_info_tb{
    width:100%;
    tr{
        &:last-of-type{
            th,td{padding-bottom:0;}
        }
        th,td{text-align:left; padding-bottom:24px;vertical-align:top;}
        th{width:120px; white-space:nowrap;padding-right:30px; box-sizing: border-box}
        td{
            .bullet_info_list{}
        }
    }
}
.explan_info_thtext{@include font2(16px,400,1.4,#595959);}
.explan_info_tditem_group{
    display:flex; gap:5px 12px; flex-wrap:wrap; align-items:center;
    .btn_actbox{
        .text_node{}
    }
}
.explan_info_tdtext,
.explan_info_tdlink{@include font2(16px,400,1.4,#000);}
.explan_info_tdlink{text-decoration:underline !important; display:inline-flex; align-items:center; gap:8px;
    .ico{@include bgicon; width:24px;height:24px ;flex:0 0 24px; background-image:url("../images/ico_blank_24.png"); position:relative;top:1px;}
}
.overview_obj_wrap{position:relative; overflow:hidden;}
.overview_obj_container{
    display:flex; gap:60px; flex-wrap:wrap; margin-right:-60px;
    .obj_cols{flex:0 0 calc(50% - 60px)}
}
.overview_title_row{margin-bottom:36px;}
.overview_title{@include font2(16px,500,1.3,#000);}
.overview_contents{
    .explan_info_tb_wrap{}
}
.band_info_tb_wrap{}
.band_info_tb{
    width:100%;
    tr{
        &:last-of-type{
            th,td{padding-bottom:0;}
        }
    }
    th,td{text-align:left;padding-bottom:24px;vertical-align: top;}
    th{width:1px; padding-right:24px;}
    td{padding-top:5px;}
}


.band_info_thtext{
    display:inline-flex; min-height:32px; align-items: center; justify-content: center; box-sizing: border-box; padding:6px 16px 7px; white-space:nowrap;
    border:1px solid #005AAB; border-radius:100px; @include font2(13px,700,1,#005AAB); background:#fff; white-space: nowrap;
}

.recom_keyword_list{
    display:flex; flex-wrap:wrap; gap:8px;
     > li{

     }
}
.recom_keyword{
    padding:10px 24px; min-height:52px; border:1px solid #E6E6E6; border-radius:100px; @include font2(20px,400,1.3,#595959); display:inline-flex; box-sizing: border-box; text-align:center; align-items: center;
   
    &.active{color:#000;border-color:#000; font-weight:700;}
    &:hover{}
    &.active{}
}


.profile_docu_wrap{
    display:flex; gap:60px;
    .img_cols{flex:0 0 103px;}
    .explain_cols{flex:1; min-width:0;}
}
.imgdocu_thumnail_wrap{
    width:103px;height:132px;box-sizing:border-box; background:#F8F8F8 url("../images/img_no.png") no-repeat 50% 50%/36px auto; 
    position:relative; border:1px solid #E6E6E6;
    img{@include dataImage2}
}
.who_explain_row{
    display:flex; flex-wrap:wrap; align-items: center;gap:24px;
}
.who_name_para{@include font2(24px,400,1,#000);}
.who_explain_word_wrap{
    display:flex; gap:19px;
    > li{
        position:relative;
        &:after{display:block;content:'';width:3px;height:3px;background:#C1C1C1; border-radius:100%; position:absolute;top:50%;right:-12px;}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.who_explain_word{@include font2(16px,400,1,#000);}
.who_exptb_wrap{
    margin-top:24px;
}
.who_exptb_list{
    > li{
        display:flex; margin-bottom:8px;
        &:last-of-type{
            margin-bottom:0;
        }
    }
}
.who_expcell_wrap{
    flex:1;display:flex;
}
.who_expcell{
    &.define_th{padding-right:30px; padding-top:2px;}
    &.define_td{flex:1;}
}
.expcell_thtext{@include font2(14px,400,1.3,#595959)}
.expcell_tdtext{@include font2(16px,400,1.3,#000)}

.liner_data_wrap{
    border-top:2px solid #BDC5D1;
}
.liner_data_tb{
    width:100%;
    tr{
        td{
            border-bottom:1px solid #E6E6E6;padding:36px 30px; text-align: center;
            &:first-of-type{padding-left:0;}
            &:last-of-type{padding-right:0;}
            &.has_summary{
                text-align: left;
            }
            &.align_2{
                text-align: left;
            }
            &.nobreak{
                white-space: nowrap; 
            }
        }
        /* &:last-of-type{
            td{border-bottom:0;}
        } */
    }
}
.liner_data_text{@include font2(16px,400,1.3,#000)}
.liner_summary_item{
    .liner_row{
        margin-bottom:16px;
        &:last-of-type{margin-bottom:0;}
    }
}
.liner_keyword{@include font2(16px,400,1.3,#000)}
.liner_bundle_list{
    display:flex; gap:80px;
    > li{

    }
}
.liner_bundle_obj{
     display:flex; gap:46px;
    dt,dd{}
    dt{}
    dd{}
}
.liner_bundle_key{}
.liner_bundle_value{}
.liner_keyword_list{
    display:flex; gap:19px; flex-wrap:wrap;
    > li{
        position:relative;
        &:last-of-type{
            &:after{
                display:none;
            }
        }
        &:after{
            display:block; content:''; width:3px;height:3px; background:#C1C1C1; border-radius:100%; position:absolute;top:50%;right:-12px;
        }
    }
}
.liner_bundle_list{
    > li{

    }
}
.liner_bundle_obj{
    dt,dd{}
    dt{}
    dd{}
}
.liner_bundle_key{@include font2(14px,400,1.3,#595959);}
.liner_bundle_value{@include font2(16px,400,1.3,#000)}

.parcel_obj_wrap{border:1px solid #E6E6E6; border-radius:16px; padding:36px 120px;}
.parcel_obj_list{
    display:flex; justify-content: space-between; gap:30px; text-align: center; 
    > li{
        
    }
}
.parcel_obj{
    dt,dd{}
    dt{}
    dd{margin-top:12px;}
}
.parcel_key{@include font2(14px,400,1.3,#595959);}
.parcel_value{@include font2(16px,400,1.3,#000000);}
.ready_data_wrap{min-height:136px; border-bottom:1px solid #E6E6E6; box-sizing:border-box;padding:20px; border-top:2px solid #BDC5D1; display:flex; align-items: center; justify-content: center; text-align: center; background-size:contain; background-position:0 0;background-repeat:no-repeat;}
.ready_data_para{@include font2(14px,400,1.3,#000000); word-break:keep-all; background-color:#fff; display:inline;}
.kit_data_wrap{border-bottom:1px solid #E6E6E6;border-top:2px solid #BDC5D1; position:relative; overflow:hidden;}
.kit_data_list{
    display:flex; flex-wrap:wrap; gap:0 80px; margin-right:-80px;
    > li{
        flex:0 0 calc(50% - 80px); box-sizing: border-box; padding:16px 0;
    }
}
.kit_data_obj{
    display:flex; justify-content: space-between; gap:30px;
}
.kit_data_cell{
    &.define_th{}
    &.define_td{ text-align: right;}
}
.kit_main_para{
    display:inline-flex; gap:4px;
    .ico{
        width:24px; height:24px; flex:0 0 24px; @include bgicon;
        &.docu{background-image: url("../images/ico_iden_24.png");}
    }
    .text_node{@include font2(16px,500,1.3,#000); position:relative;top:1px;}
}
.kit_else_main_para{@include font2(14px,400,1.3,#000); @include spoca}
.kit_else_sub_para{@include font2(14px,400,1.3,#595959); margin-top:4px;}

@media (max-width:$pcwid){
    .floting_tab_wrap{
        &.fixed{left:0;width:100%;transform:translateX(0); padding:0 30px;}
        .boxtab_wrap{}
    }
}
@media (max-width:$tablet){
    .profile_docu_wrap{gap:40px;}
    .fdata_title_row{
        gap:15px 0; flex-direction: column; padding:20px 0;
        .main_cols{}
        .util_cols{gap:10px;}
    }
    .fdata_title{padding:0;}
    .btn_fullspuare_box{min-width:100px;padding:5px 20px; border-radius:100px; min-height:0;}
    .fdata_compact_wrap{
        flex-wrap:wrap; position:relative;
        &:before{display:block;content:'';width:1px;height:100%;background:#fff; position:absolute;top:0;right:0;}
        &:after{display:block;content:'';width:100%;height:1px;background:#fff; position:absolute;bottom:0;left:0;}
        .compact_cols{flex:0 0 50%; box-sizing:border-box; border-bottom:1px solid #E6E6E6; padding:24px;
            /* &:nth-of-type(2n-1){border-bottom:0;} */
        }
    }
    /* .who_exptb_list{
        > li{
            display:block;
            .who_expcell_wrap{margin-bottom:8px;}
        }
    } */
    .who_name_para{font-size:20px;}

    .liner_data_tb{
         tr{
             td{padding:18px 15px;}
         }
    }
    .parcel_obj_wrap{padding:20px 60px; border-radius:10px;}

    .kit_data_list{
        gap:0 40px; margin-right:-40px;
        > li{
            flex:0 0 calc(50% - 40px);
        }
    }
}

@media (max-width:$mobile_large){
    .fdata_title_row{margin-bottom:30px;}
    .fdata_title{font-size:18px;}
    .floting_tab_wrap{
        &.fixed{padding:0 20px;}
        .boxtab{padding:5px;}
        .boxtab_text{font-size:13px;}
    }
    .btn_fullspuare_box{min-height:30px;
        .ico{width:18px;height:18px; flex-basis:18px;}
        .text_node{font-size:12px;}
    }
    .fdata_compact_row{border-bottom:0;padding-bottom:0;}
    .fdata_compact_wrap{flex-direction:column;align-items:normal;
        &:before,&:after{display:none;}
        .compact_cols{flex:0;padding:30px 0;border-right:0;
            &:first-of-type{padding-top:0;}
        }
    }
    .fdata_thumnail_wrap{
         .spec_row{margin-top:10px;}
    }
    .fdata_fiqure_wrap{height:100px;}

    .fdata_btn_row{
        &.btn_box_wrap{margin-top:30px;}
    }
    
    .feature_article_row{margin-top:40px;}
    .rise_tab_zone{margin-bottom:30px;}
    .rise_contents{margin-bottom:80px;}

    .rise_title_row{margin-bottom:10px;}
    .rise_title{font-size:18px;}
    .rise_inner_contents{padding:15px;}

    .arc_block{
        margin-bottom:30px;
        &.arc_obj{
            .title_row{margin-bottom:12px; }
        }
    }
    .title_util_list{top:0;
        > li{
            padding-left:20px; 
            &:after{
                height:14px;left:10px;
            }
        }
    }
    .title_util_text{font-size:14px;}
    .arc_main_title{font-size:18px;}
    .arc_block_title{font-size:14px;}
    .arc_title_container{
        gap:15px 0; padding:20px 0; min-height:45px;
        flex-direction: column; align-items: normal;
    }
    .arc_block_banner{
        border-radius: 10px; gap:15px 12px; padding:20px; align-items:flex-start;
        .ico{width:40px; height:40px; flex:0 0 40px;}
        &.type2{padding-bottom:15px;}
    }
    .arc_btn_row{
        &.btn_box_wrap{margin-top:30px;}
    }
    .voice_main_copy{font-size:14px;
        .copy_sub{font-size:12px;}
    }
    .fraction_infocont_list{border-radius:10px; flex-direction: column; padding:8px 12px; display:flex;
        > li{flex:1; width:100%;
        }
        .info_slice{
            .keytext{font-size:13px;}
            .valuetext{display:block;}
            &.part{
                font-size:14px; padding:0 10px;
            }
        }
    }
    .fractino_info_package{
        width:100%; display:flex; justify-content: center; text-align:center;
         .number_tc{font-size:16px;}
    }
    
    .api_info_templete{
        gap:30px; min-height:0; flex-direction: column; align-items: normal;
        .spec_cols,
        .api_cols{flex:0;}
    }
    .api_map_render{min-height:400px;}
    .api_linkage_render,
    .api_main_copy{margin-bottom:30px; font-size:16px;}
    .explan_info_tb{
        tr{
            th,td{padding-bottom:15px;}
            th{width:1px;padding-right:20px; }
            td{
                .bullet_info_list{}
            }
        }
    }
    .explan_info_thtext{font-size:14px;}
    .explan_info_tditem_group{
        display:block;
        .explan_info_tdtext{display:block;}
        .btn_actbox{
            margin-top:5px;
            .text_node{}
        }
    }
    .explan_info_tdtext,
    .explan_info_tdlink{font-size:14px;}
    .explan_info_tdlink{
        gap:5px;
        .ico{width:20px;height:20px ;flex:0 0 20px;}
    }
    .overview_obj_wrap{position:relative; overflow:hidden;}
    .overview_obj_container{
        gap:35px 0; margin-right:0; flex-direction: column;
        .obj_cols{flex:0 0 100%}
    }
    .overview_title_row{margin-bottom:15px;}
    .overview_title{font-size:16px;}
    .overview_contents{
        .explan_info_tb_wrap{}
    }
    .band_info_tb_wrap{}
    .band_info_tb{
        th,td{}
        th{padding-right:15px;}
    }


    .band_info_thtext{
       
    }

    .recom_keyword_list{
        display:flex; flex-wrap:wrap; gap:8px;
        > li{

        }
    }
    .recom_keyword{
        padding:5px 12px; min-height:30px; font-size:14px;
    }

    .profile_docu_wrap{gap:20px;
        .img_cols{flex-basis:69px;}
    }
    .imgdocu_thumnail_wrap{width:69px;height:88px;background-size:20px auto;}
    .who_explain_row{gap:18px;}
    .who_name_para{font-size:16px;}
    .who_explain_word{font-size:13px;}
    .who_explain_word_wrap{
         > li{
            &:after{margin-top:-1px;}
         }
    }
    .who_exptb_list{
        > li{
            &.who_exptr{display:block;margin-bottom:0;}
            .who_expcell_wrap{padding-bottom:8px;}
        }
    }
    .expcell_thtext,
    .expcell_tdtext{font-size:13px;}
    .who_expcell{
        &.define_th{padding-right:5px;padding-top:0;}
    }
    .who_exptb_wrap{margin-top:18px;}

    .arc_block_banner{
        flex-wrap:wrap;
        .btn_cols{flex:0 0 100%; text-align:center; padding-left:52px; box-sizing:border-box;}
    }

    .ready_data_wrap{background-position:50% 50%; background-size: auto 100%;}

    .liner_keyword{font-size:13px;}
    .liner_keyword_list{
         > li{
            &:after{margin-top:-1px;}
         }
    }
    .liner_summary_item{
         .liner_row{margin-bottom:10px;
            &:last-of-type{margin-bottom:0;}
        }
    }
    .liner_bundle_obj{gap:10px 10px;}
    .liner_data_text,
    .liner_bundle_value,
    .liner_bundle_key{font-size:13px;}

    .liner_data_tb{
        display:block;
        tbody{display:block;}
        tr{
            display:flex; flex-wrap:wrap; justify-content: space-between; gap:10px 20px; padding:20px 0; border-bottom:1px solid #E6E6E6;
            th,td{ display:inline-block; border-bottom:0;padding:0;}
            td{
                &.has_summary{
                    display:block; flex:0 0 100%;
                }
                &.nobreak{
                    white-space:normal;
                }
            }
        }
    }

    .liner_bundle_list{gap:5px; flex-direction: column;}

    .parcel_obj_wrap{padding:20px;}
    .parcel_obj_list{flex-direction: column; gap:30px;}
    .parcel_obj{
         dd{margin-top:5px;}
    }
    .parcel_value{font-size:14px;}


    .kit_data_list{
        gap:0; margin-right:0; flex-direction: column;
        > li{
            flex:0 0 100%; padding:15px 0; border-bottom:1px solid #E6E6E6;
        }
    }
    .kit_main_para{
        .ico{width:20px;height:20px; flex:0 0 20px;}
        .text_node{font-size:14px;}
    }
    .kit_else_sub_para,
    .kit_else_main_para{font-size:13px;}
    .kit_data_cell{
        &.define_td{padding-top:2px; white-space:nowrap;}
    }
}

@media (max-width:$mobile){

}

@media (max-width:$mobile_size3){
    .kit_data_obj{flex-direction: column; gap:5px 0;}
    .kit_data_cell{
        &.define_td{padding-top:0; white-space:normal;}
    }
}

