.docform_templete{display:flex;gap:36px;padding:36px 0 0 0;}
.docform_long{flex:1; min-width:0;}
.docform_short{flex:0 0 180px;}
.tour_ui_wrap{position:sticky;top:20px;}
.tour_fraction_box{
    border:1px solid #E6E6E6; border-radius:12px; padding:16px 12px 24px;
    .title_row{
        padding-bottom:16px; border-bottom:1px solid #BDC5D1;
    }
    .map_row{padding-top:16px;}
}
.tour_title{display:flex;min-height:44px; align-items: center; @include font2(20px,500,1.3,#000);}
.docu_map_list{
    > li{
        padding-bottom:16px; position:relative;
        &:last-of-type{padding-bottom:0;
            &:before{display:none;}
        }
        &.active{
            .docu_map_item{
                .ico{background-color:#FFCE5F;}
                .text_node{color:#000000;}
            }
        }
        &.way_active{
            &:before{border-left:1px solid #FFCE5F;}
            .docu_map_item{
                .ico{}
                .text_node{}
            }
        }
        &.current{
            .docu_map_item{
                .text_node{color:#005AAB;}
            }
        }
        &:before{display:block;content:'';width:0; border-left:1px dashed #FFCE5F; height:100%; position:absolute;top:11px;left:5px;}
    }
}
.docu_map_item{
    display:flex; gap:12px; position:relative;
    .ico{width:11px;height:11px; border:1px solid #FFCE5F; background:#fff; border-radius:100%; box-sizing: border-box; flex:0 0 11px; position:relative; top:6px;}
    .text_node{@include font2(16px,500,1.3,#595959);}
}
.tour_util_wrap{
    padding:22px 12px;
}
.tour_util_list{
    > li{
        margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
    }
}
.btn_tour_util{
    display:inline-flex; gap:8px; align-items: center;
    .ico{
        width:24px; height:24px; @include bgicon;
        &.print{background-image:url("../images/ico_print.png");}
        &.word{background-image:url("../images/ico_word.png");}
    }
    .text_node{@include font2(14px,700,1,#000);}
}
.tour_btn_wrap{}
.btn_face{
    display:flex; min-height:52px; border:1px solid #0B51C5; border-radius:100px; justify-content: center; align-items: center;
    .text_node{@include font2(16px,700,1,#005AAB);}
}


.docform_container{}
.df_title_row{margin-bottom:48px;}
input.docu_big_input{height:76px;border:0;border-bottom:2px solid #1D1D1F;width:100%;@include font2(24px,400,1,#000);
    &::placeholder{color:#aaa;}
}
.df_gate_row{margin-bottom:48px;}
.docuform_gate_box{
    border:1px solid #E6E6E6; border-radius:16px; padding:24px 36px; display:flex; gap:60px;
    .img_cols{flex:0 0 103px;}
    .spec_cols{flex:1; min-width:0;}
}
.docu_thumnail_item{}
.docu_thumnail_wrap{
    width:103px;height:132px;border:1px solid #E6E6E6; box-sizing: border-box; background:#F8F8F8 url("../images/img_no.png") no-repeat 50% 50%/36px auto;
    position:relative;
    > img{@include dataImage2}
}
.btn_tc_list{
    margin-top:18px;display:flex; gap:16px; justify-content: center;
    > li{}
}
.btn_tc{
    display:inline-block;  white-space: nowrap; @include font2(14px,700,1.3,#000); text-decoration: underline !important;
    &.skin2{color:#595959;}
}
.dfgate_main_row{
    display:flex; gap:10px 24px; align-items: center;
}
.dfgate_who{display:inline-block; @include font2(20px,400,1.3,#000);}
.dfgate_util_list{
    display:flex; gap:5px 19px;
    > li{
        position:relative;
        &:after{display:block; content:''; width:3px; height:3px; border-radius:100%; background:#C1C1C1; border-radius:100%; position:absolute;top:9px;right:-11px;}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.dfgate_util{display:inline-block; @include font2(14px,400,1.3,#000);}
.docu_gate_summary_row{
    margin-top:16px;
}
.docu_summary_tb{
    width:100%;
    tr{
        th,
        td{text-align: left;padding-bottom:10px;}
        th{padding-right:38px;}
        td{padding-right:38px;
            &:last-of-type{padding-right:0;}
        }

        &:last-of-type{
            th,td{padding-bottom:0;}
        }
    }
}
.docu_summary_thtext{display:inline-block; @include font2(14px,400,1.3,#595959); white-space: nowrap;}
.docu_summary_tdtext{display:inline-block; @include font2(16px,400,1.3,#000);}
.df_field_wrap{

}
.df_field_row{
    margin-bottom:48px;
    &:last-of-type{margin-bottom:0;}
}
.df_field_title_row{
    margin-bottom:15px;
}
.df_field_title{@include font2(16px,500,1.3,#000); }
.df_field_contents{}

.btn_field_bottom_wrap{
    &.btn_box_wrap{margin-top:48px;}
    .left_cols{
        .btn_box{}
    }
}

.draft_container{display:flex;gap:36px;}
.draft_long{flex:1; min-width:0;}
.draft_short{flex:0 0 300px;}
.draft_block{
    margin-bottom:50px;
    &:last-of-type{margin-bottom:0;}
}
.draft_title_row{
    display:flex; margin-bottom:16px; justify-content: space-between; gap:20px; align-items: center;
    .title_else_wrap{
        .btn_actbox_list{}
    }
}
.draft_title{@include font2(16px,500,1,#000000);}
.draft_content{}
.draft_guide_para{
    font-size:13px;
    & + .bullet_list{margin-top:12px;}
}

.process_diagram_wrap{margin-top:48px;}
.process_diagram_list{
    display:flex; gap:80px;
    > li{
        flex:1; position:relative; 
        &:after{display:block;content:'';width:60px;height:60px; @include bgicon; background-image:url("../images/ico_arrow_dia.png"); position:absolute;top:50%;right:-70px; transform: translateY(-50%);}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.process_diagram_item{}
.process_img_row{
    img{}
}
.process_spec_row{text-align: center;}
.process_spec_para{@include font2(14px,400,1.3,#000000); margin:30px -40px 0;}

.render_paper_box{border:2px solid #0053C2; border-radius:12px;padding:24px 16px 40px}
.paper_title_row{padding-bottom:24px;border-bottom:1px solid #BDC5D1;}
.paper_title{@include font2(20px,500,1,#000000);}
.paper_contents{
    padding-top:30px;
    .pc_row{
        margin-bottom:36px;
        &:last-of-type{margin-bottom:0;}
        &.define_current{}
        &.define_summary{background:#F8F8F8; border-radius:4px; padding:16px 12px;}
        &.define_total{}
    }
}
.paper_sum_price_obj{
    display : flex; justify-content: space-between; gap:20px; align-items: center;
    dt,dd{}
    dt{
        .key_text{@include font2(16px,400,1,#000);}
    }
    dd{}
}
.paper_current_price_obj{
    display : flex; justify-content: space-between; gap:20px; align-items: center;
    dt,dd{}
    dt{
        .key_text{@include font2(14px,400,1,#000);}
    }
    dd{}
}
.price_package{
    display:inline-flex; align-items: center; gap:3px;
    .price_main_number{@include spoca; @include font2(20px,700,1,#B5000F);}
    .price_sub_number{@include spoca; @include font2(16px,400,1,#000);}
    .price_unit_text{@include font2(14px,400,1.3,#595959);}
}
.paper_form_obj{
    > li{
        margin-bottom:24px;
        &:last-of-type{margin-bottom:0;}
    }
}
.paper_current_price_obj{
    display : flex;gap:20px; align-items: center;
    dt,dd{flex:1;}
    dt{white-space: nowrap;}
    dd{text-align: right}
    .key_text_wrap{display:flex; min-height:40px; align-items: center}
    .key_text{}
    .key_text_sub{@include font2(14px,400,1.3,#000000);}
    .key_sub_wrap{
        margin-top:4px;
        .btn_node_only{}
    }
}
.price_input_form{
    display:flex; justify-content: flex-end; max-width:110px; align-items: center; gap:3px; height:40px;border:1px solid #E6E6E6; padding:0 10px; box-sizing: border-box; border-radius:8px; background-color: #fff;
    input.price_input{height:38px; background:none;border:0; text-align: right; @include spoca;}
    .price_unit_text{@include font2(14px,400,1,#AAAAAA); }
}
.price_fraction_wrap{
    margin-top:4px; @include font2(13px,400,1.3,#595959);
    .emp{@include spoca; color:#000;}
}
.paper_total_price_obj{
    display : flex; justify-content: space-between; gap:20px; align-items: center;
    dt,dd{}
    dt{}
    dd{}
    .key_text{@include font2(16px,500,1,#000000)}
    .key_sub_text{color:#595959;margin-top:2px;}
    .price_package{
        .price_main_number{font-size:24px;}
        .price_unit_text{}
    }
}
.render_sticky_wrap{position:sticky;top:20px;}
@media (max-width:$mobile_large){
    .docform_templete{padding-top:20px;}
    .df_gate_row,
    .df_field_row,
    .df_title_row{margin-bottom:30px;}
    input.docu_big_input{height:50px; font-size:18px;}
    .docform_short{display:none;}
    .docuform_gate_box{padding:15px; border-radius:10px; gap:20px;
        
        .img_cols{flex-basis: 80px;}
    }

    .docu_thumnail_wrap{width:80px; height:100px;
    }
    .btn_tc_list{margin-top:10px; gap:10px;}
    .btn_tc{font-size:12px;}

    .dfgate_who{font-size:14px;}
    .dfgate_main_row{flex-direction: column; align-items: normal;}

    .docu_summary_tb{
        display:block;
        tr{
            display:block;
            &:last-of-type{padding-bottom:0;}
            th,td{display:block;padding:0;}
            th{width:auto;padding:0 0 5px;
                &:last-of-type{padding-bottom:5px;}
            }
            td{padding-bottom:20px;}
        }
    }
    .docu_summary_thtext,
    .docu_summary_tdtext{font-size:13px;}
}