.docform_templete{display:flex;gap:36px;padding:36px 0 0 0;}
.docform_long{flex:1; min-width:0;}
.docform_short{flex:0 0 180px;}
.tour_ui_wrap{position:sticky;top:20px;}
.tour_fraction_box{
    border:1px solid #E6E6E6; border-radius:12px; padding:16px 12px 24px;
    .title_row{
        padding-bottom:16px; border-bottom:1px solid #BDC5D1;
    }
    .map_row{padding-top:16px;}
}
.tour_title{display:flex;min-height:44px; align-items: center; @include font2(20px,500,1.3,#000);}
.docu_map_list{
    > li{
        padding-bottom:16px; position:relative;
        &:last-of-type{padding-bottom:0;
            &:before{display:none;}
        }
        &.active{
            .docu_map_item{
                .ico{background-color:#FFCE5F;}
                .text_node{color:#000000;}
            }
        }
        &.way_active{
            &:before{border-left:1px solid #FFCE5F;}
            .docu_map_item{
                .ico{}
                .text_node{}
            }
        }
        &.current{
            .docu_map_item{
                .text_node{color:#005AAB;}
            }
        }
        &:before{display:block;content:'';width:0; border-left:1px dashed #FFCE5F; height:100%; position:absolute;top:11px;left:5px;}
    }
}
.docu_map_item{
    display:flex; gap:12px; position:relative;
    .ico{width:11px;height:11px; border:1px solid #FFCE5F; background:#fff; border-radius:100%; box-sizing: border-box; flex:0 0 11px; position:relative; top:6px;}
    .text_node{@include font2(16px,500,1.3,#595959);}
}
.tour_util_wrap{
    padding:22px 12px;
}
.tour_util_list{
    > li{
        margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
    }
}
.btn_tour_util{
    display:inline-flex; gap:8px; align-items: center;
    .ico{
        width:24px; height:24px; @include bgicon;
        &.print{background-image:url("../images/ico_print.png");}
        &.word{background-image:url("../images/ico_word.png");}
    }
    .text_node{@include font2(14px,700,1,#000);}
}
.tour_btn_wrap{}
.btn_face{
    display:flex; min-height:52px; border:1px solid #0B51C5; border-radius:100px; justify-content: center; align-items: center;
    .text_node{@include font2(16px,700,1,#005AAB);}
}


.docform_container{}
.df_title_row{margin-bottom:48px;}
input.docu_big_input{height:76px;border:0;border-bottom:2px solid #1D1D1F;width:100%;@include font2(24px,400,1,#000);
    &::placeholder{color:#aaa;}
}
.df_gate_row{margin-bottom:48px;}
.docuform_gate_box{
    border:1px solid #E6E6E6; border-radius:16px; padding:24px 36px; display:flex; gap:60px;
    .img_cols{flex:0 0 103px;}
    .spec_cols{flex:1; min-width:0;}
}
.docu_thumnail_item{}
.docu_thumnail_wrap{
    width:103px;height:132px;border:1px solid #E6E6E6; box-sizing: border-box; background:#F8F8F8 url("../images/img_no.png") no-repeat 50% 50%/36px auto;
    position:relative;
    > img{@include dataImage2}
}
.btn_tc_list{
    margin-top:18px;display:flex; gap:16px; justify-content: center;
    > li{}
}
.btn_tc{
    display:inline-block; @include font2(14px,700,1.3,#000); text-decoration: underline !important;
    &.skin2{color:#595959;}
}
.dfgate_main_row{
    display:flex; gap:10px 24px; align-items: center;
}
.dfgate_who{display:inline-block; @include font2(20px,400,1.3,#000);}
.dfgate_util_list{
    display:flex; gap:5px 19px;
    > li{
        position:relative;
        &:after{display:block; content:''; width:3px; height:3px; border-radius:100%; background:#C1C1C1; border-radius:100%; position:absolute;top:9px;right:-11px;}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.dfgate_util{display:inline-block; @include font2(14px,400,1.3,#000);}
.docu_gate_summary_row{
    margin-top:16px;
}
.docu_summary_tb{
    width:100%;
    tr{
        th,
        td{text-align: left;padding-bottom:10px;}
        th{padding-right:38px;}
        td{padding-right:38px;
            &:last-of-type{padding-right:0;}
        }

        &:last-of-type{
            th,td{padding-bottom:0;}
        }
    }
}
.docu_summary_thtext{display:inline-block; @include font2(14px,400,1.3,#595959); white-space: nowrap;}
.docu_summary_tdtext{display:inline-block; @include font2(16px,400,1.3,#000);}
.df_field_wrap{

}
.df_field_row{
    margin-bottom:48px;
    &:last-of-type{margin-bottom:0;}
}
.df_field_title_row{
    margin-bottom:15px;
}
.df_field_title{@include font2(16px,500,1.3,#000); }
.df_field_contents{}

.btn_field_bottom_wrap{
    &.btn_box_wrap{margin-top:48px;}
    .left_cols{
        .btn_box{}
    }
    .center_cols{
        .btn_box{}
    }
}