/* layout */
html:not(.touchmode){
    ::-webkit-scrollbar {width: 10px;}
    ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
    ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}
}

.front_body{
   
}
.page_wrap{
    min-width:280px; position:relative; display:flex; flex-direction: column; min-height:calc(var(--vh, 1vh) * 100);
}
.header_wrap{ padding:36px 0 0 0;
    &.type2{
        .header_main_row{justify-content: space-between; margin-bottom:50px;}
        .header_nav_menu_list {gap:36px;}
        .header_nav_util_list{gap:24px;}
    }
}
.header_main_row{
  display:flex; max-width:$pcwid;padding:0 30px; gap:94.5px; margin:0 auto;
  .logo_cols{}
  .search_cols{display:flex; flex-direction:column; gap:16px; min-width:0;}
  .util_cols{}
  &:last-child{
    border-bottom: 1px solid #E6E6E6; padding-bottom:24px;
  }
}
.toplogo_container{
    display:inline-block;
}
.toplogo_item{
    display:flex; gap:12px; align-items:center;
    .img_cols{
      width:125px; flex:0 0 125px;
      > img{max-width:100%;vertical-align:top;}
    }
    .spec_cols{
      .spec_main_copy,
      .spec_sub_copy{font-size:16px; display:block; white-space:nowrap; line-height:1.2;}
      .spec_main_copy{color:#0C2F5B; font-weight:700;}
      .spec_sub_copy{color:#595959; font-weight:500;}
    }
}
.top_search_container{
    > form{}
}
.top_search_field{
    height:60px; box-sizing: border-box; padding-right:8px;
    border-radius: 100px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(91.12deg, #3777FF 4.19%, #9442FE 96.41%) border-box;
    border: 2px solid transparent;
    display:flex; align-items:center;overflow:hidden; position:relative;
    legend{display:none;}
    .btn_search_reset,
    .btn_search_submit{display:inline-block; @include bgicon;margin-right:16px;}
    .btn_search_reset{width:16px;height:16px; background-image:url("../images/ico_total_reset.png"); display:none;}
    .btn_search_submit{width:24px;height:24px; background-image:url("../images/ico_total_search.png")}
    &.active{
        .btn_search_reset{display:block;}
    }
}
input.top_search_input{appearance: none; width:100%; height:58px; line-height:1; border-radius:0; flex:1; background:none; border:0; outline:0; padding:0 0 0 24px;
    @include font(16px,700,1,1,#000);
    &::placeholder {color: #aaa;}
}
.top_search_keyword_wrap{position:relative;overflow:hidden; display:flex;
    &:hover{
        .top_search_marguee{ animation-play-state: paused;}
    }
}
.top_search_marguee{
    width: fit-content; display:flex; gap:8px;
    animation: marqueeAnim linear infinite;
}
.top_search_keyword_list{
    display:flex; gap:8px;
    > li{
        &:last-of-type{}
    }
}
.top_search_keyword{
    display:inline-block;min-height:36px;background:#F8F8F8; border-radius:100px; white-space:nowrap; padding:10px 12px 8px; box-sizing:border-box;
    @include font(13px, 400, 1, 0, #000);
}
@keyframes marqueeAnim {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.top_util_wrap{}
.top_util_list{
    display:flex; justify-content: flex-end; gap:24px; min-height:60px; align-items:center;
    > li{}
}
.top_util_item{
    display:inline-block; white-space:nowrap; @include font(13px,400,1,0,#000);
    &.type2{color:#005AAB}
    &:hover{font-weight:700;text-decoration:underline;}
}
.header_main_row + .header_nav_row{border-bottom:2px solid #0B51C5;}
.header_nav_row{margin-top:16px;}
.header_nav_container{max-width:$pcwid;padding:0 30px; display:flex; justify-content: space-between; gap:30px;  min-height:72px; align-items:center;  margin:0 auto;}
.header_nav_menu_wrap{}
.header_nav_menu_list{
    display:flex; gap: 52px; align-items:center;
    > li{
        &:last-of-type{}
    }
}
.header_nav_menu_item{display:inline-block;position:relative;}
.nav_tooltip_layer{position:absolute;top:3px; left:0; transform:translateY(-100%); background:#00AEF3; min-height:28px; display:flex; align-items:center; border-radius: 0 100px 100px 0; padding:6px 8px 6px 0; box-sizing:border-box;
    &:after{display:block;content:'';width:28px;height:32px;background:url("../images/ico_menu_word_pointer.png") no-repeat 0 0/100% auto; position:absolute;top:0;left:-14px;}
}
.nav_tooltip_text{@include font(12px, 500, 1, 0, #fff); font-family: 'Noto Serif KR'; white-space:nowrap; position:relative;z-index:1; margin-left:-6px;}
.header_nav_menu_link{@include font(20px, 700, 1, 0, #000); display:flex; min-height:40px; align-items:center; justify-content:center; text-align:center;
    &:hover{color:#0258AD;}
}
.header_nav_util_wrap{}
.header_nav_util_list{
    display:flex; justify-content: flex-end; gap:36px; align-items:center;
    > li{
        &:last-of-type{}
    }
    &.type2{gap:24px;}
}
.header_nav_util{
    @include font(16px, 700, 1, 1, #0258AD); min-height:40px; display:flex; align-items:center; 
}
.header_nav_toggle{position:relative; display:flex; align-items:center;
    &.type2{
        .nav_toggle_target{background:#fff;
            .toggle_target_text{color:#005AAB;}
            &:after{border-color:#005AAB;}
        }
    }
    &.active{
        .nav_toggle_target{
            &:after{transform: rotate(225deg); top:19px;}
        }
        .nav_toggle_layer{
            display:block;
        }
    }

    .ico{
        display:inline-block; @include bgicon; width:24px;height:24px; margin-right:4px;
        &.ico_men{background-image:url("../images/ico_pic_men.png");}
    }
}
.nav_toggle_target{
    min-height:40px; background:#0B51C5; border-radius:100px; display:flex; align-items:center; position:relative; box-sizing:border-box; padding:8px 32px 8px 16px;
    .toggle_target_text{@include font(16px, 700, 1, 0, #fff); @include clamp(1); max-width:250px;}
    &:after{display:block;content:'';width:6px;height:6px; border-right:1px solid #fff; border-bottom:1px solid #fff; transform:rotate(45deg); position:absolute;top:15px;right:17px;}
}
.nav_toggle_layer{position:absolute;top:calc(100% + 4px);left:50%; transform:translateX(-50%); width:144px; display:none; box-sizing: border-box; padding:24px 24px 16px;
    background: #FFFFFF; border: 1px solid #0B51C5; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);border-radius: 16px;
}
.nav_toggle_list{
    > li{
        margin-bottom:12px;
        &:last-of-type{margin-bottom:0;}
    }
}
.nav_toggle_menu{
    font-size:13px; display:inline-block; color:#000; line-height:1;
    &:hover{text-decoration: underline;}
}
.nav_toggle_box{
    display:block; padding:10px 10px 11px; text-align: center; background:#1D1D1F; @include font(13px,400,1,0,#fff); border-radius:100px;
    &:hover{}
}
.header_nav_fraction{
    display:flex;align-items:center; gap:5px;
    dt,dd{}
    dt{}
    dd{}
}
.key_fraction_label,
.key_fraction_value{display:inline-block;@include font(16px, 400, 1, 0, #000);  white-space: nowrap;}
.key_fraction_label{}
.key_fraction_value{font-weight:700;font-family: 'Spoqa'; position:relative;top:1px; border-bottom:1px solid #000;}

.middle_wrap{flex:1;}

.footer_wrap{}
.footer_menu_row{border-top:1px solid #E6E6E6; border-bottom:1px solid #E6E6E6;}
.footer_menu_container{max-width:$pcwid; margin:0 auto; padding:24px 30px;}
.footer_menu_list{
    display:flex; gap: 48px;
    > li{
        &:last-of-type{}
    }
}
.footer_menu{
    display:inline-block; font-size:16px; color:#000; line-height:1;
    strong{}
}
.footer_main_row{}
.footer_main_container{
    max-width:$pcwid; margin:0 auto; padding:48px 30px; display:flex;align-items: center; gap:48px; 
    .logo_cols{flex:0 0 107px; }
    .text_cols{flex:1;}
    .else_cols{}
}
.footer_logo{
    max-width:107px; display: inline-block;
    > img{vertical-align: top;}
}
.footer_copy_para_wrap{line-height:1.3;}
.footer_copy_para{display:flex;gap:5px 24px;margin-bottom:5px; flex-wrap:wrap; white-space: nowrap;
  &:last-of-type{margin-bottom:0;}
}
.footer_copy{font-size:12px; color:#595959;}
.footer_partner_list{
  display:flex; gap:24px;
  > li{
    flex:1; text-align: center; 
    &:last-of-type{}
  }
}
.footer_partner_item{
  .logo_row{
    img{max-width:130px;vertical-align: top;}
  }
  .spec_row{margin-top:5px;}
  .spec_main,.spec_sub{text-decoration: underline; letter-spacing: -0.8px; white-space: nowrap;}
  .spec_main{font-size:14px; color:#000;}
  .spec_sub{font-size:12px; color:#595959;margin-top:5px;}
}


@media (max-width:$pcwid){
    .header_wrap{padding-top:20px;
        &.type2{
            .header_nav_menu_list {gap:20px;}
            .header_nav_util_list{gap:0px;padding-bottom:20px;}
            .header_nav_menu_link{font-size:17px;}

            .header_main_row{margin-bottom:20px;}

            .header_nav_util_list{flex-direction: column; justify-content: flex-end; text-align: right; align-items: flex-end;}
            .nav_toggle_target{}
            .header_nav_toggle{left:15px;}

            .key_fraction_value{top:0;}
        }
    }
    .header_main_row{gap:30px;}
    .header_nav_container{gap:20px;}
    .toplogo_item{
         .img_cols{width:100px;flex-basis: 100px;}
         .spec_cols{
            .spec_main_copy,
            .spec_sub_copy{font-size:14px;}
         }
    }

    .header_nav_menu_list{gap:20px;}
    .top_util_list{gap:20px}
    .header_nav_util_list{gap:25px;}
    .footer_menu_list{gap:30px;}

    .footer_main_container{gap:30px;padding:30px;}
    .footer_main_container .logo_cols{flex-basis: 80px;}
    .footer_logo{max-width:80px;}

    .footer_partner_item{
        .logo_row{
            img{max-width:100px;}
        }

        .spec_main{font-size:13px;}
        .spec_sub{font-size:11px;}
    }

    .header_nav_menu_link{font-size:17px;}
}