/* layout */
html:not(.touchmode){
    ::-webkit-scrollbar {width: 10px;}
    ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
    ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}
}

.front_body{
   
}
.page_wrap{
    min-width:280px; position:relative;
}
