/* main */
.page_wrap{
    &.main{display:block;min-height:0;}
}

/* main visual */
.main_primary_section{background:#F8F8F8; margin-bottom:36px;}
.mv_pixed_inner{
    max-width: 1340px; position:relative; margin: 0 auto; padding: 0 30px; position: relative;
}
.mv_container_tb{
    display:flex; gap:24px;padding:48px 0;
    .mv_cols{
        display:flex; flex-direction: column;
        &.cols_01{flex:0 0 340px; width:340px;}
        &.cols_02{flex:1;}
        &.cols_03{flex:0 0 312px; width:312px;}
    }
}
.mv_cols_title_row{display:flex; justify-content: space-between; align-items: center; margin-bottom:24px;flex:0;}
.mv_cols_title{
    display:flex; gap:4px; align-items: center;
    .ico{
        @include bgicon;
        &.dia{width:39px; height:32px; flex:0 0 39px;  background-image:url("../images/ico_main_dia.png");}
        &.king{width:40px; height:32px; flex:0 0 40px; background-image:url("../images/ico_main_king.png");}
    }
    .text_node{@include font2(24px,700,1.3,#000);}
}
.mv_cols_else_wrap{}
.btn_actsmbox{display:inline-block; height:30px; @include font2(12px,700,30px,#000); white-space: nowrap; border:1px solid #000; padding:0 12px; border-radius:100px;}
.mv_cols_contents{flex:1;}

.mv_banner_box_wrap{}
.mv_banner_box_list{
    display:flex; gap:16px; flex-wrap:wrap;
    &.cols_02{
        margin-right:-16px;
        > li{
            flex:0 0 calc(50% - 16px);
        }
    }
    > li{
        flex:0 0 100%; position:relative;
        &:hover{
            z-index:5;
            .mv_banner_box{
                z-index:0;
                .inner_contents{visibility:hidden;opacity:0;}
                .hover_contents{display:block;
                    > *{position:relative;z-index:3;}
                    &:before{z-index:2;}
                    &:after{z-index:1;}
                }
            }
        }
        &:last-of-type{}
    }
}
.mv_banner_box{
    background:#fff; border:1px solid #E6E6E6; border-radius:24px; padding:24px 24px 16px; position:relative;
    .inner_contents{
        position:relative;z-index:1;
        .img_row{margin-bottom:24px;}
        .spec_row{}
        .btn_else_row{}
    }
    .hover_contents{
        display:none; position:absolute;top:0;left:0;width:100%;min-height:542px; box-sizing:border-box;padding:3px;
        .img_row{margin-bottom:42px;}
        .spec_row{}
        .btn_else_row{margin-top:13px;}
        .mv_img_wrap{height:174px;}
        &:before{
            display:block;
            content: "";
            position: absolute;
            inset: 0;
            padding: 3px;
            border-radius: 24px;
            width:100%;height:100%; box-sizing:border-box;
            background: linear-gradient(135deg, #4AD3FF, #4AFF86);
            mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
            -webkit-mask-composite: destination-out;
            z-index: -1;
        }
        &:after{
            display:block;
            content: "";
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
            border-radius: 24px;
            background:#fff;
            position: absolute;
            top:0;left:0;width:100%;height:100%;
            z-index:-1;
        }
        .hover_inner{padding:18px 18px 13px;}
    }
}
.mv_img_wrap{
    display:flex; justify-content: center; align-items: center; height:84px;
    img{height:54px; max-width:70%; object-fit: contain; object-position: 50% 50%;vertical-align:top;}
}
.mv_main_copy{text-align:center; @include font2(24px,700,1.4,#000); @include clamp(1); height:34px;overflow:hidden;}
.mv_sub_copy{margin-top:8px; @include font2(16px,400,1.4,#595959); @include clamp(2); height:45px;overflow:hidden;}
.mv_summary_block{margin-top:42px;border:1px solid #E6E6E6; border-radius:12px; padding:16px 12px;}
.mv_summay_tb{
    width:100%;
    th,td{padding-bottom:8px;}
    th{}
    td{text-align:left;padding-left:8px;}
    tr{
        &:last-of-type{
            th,
            td{padding-bottom:0;}
        }
    }
}


.mv_thtext{display:block; text-align:center; background:#F8F8F8; border-radius:4px;height:26px;@include font2(13px,400,26px,#000000);padding:0 10px; white-space:nowrap;}
.mv_tdtext{display:inline-block; @include font2(16px,500,26px,#000); @include clamp(1);}
.mv_tapebanner_wrap{min-height:230px;}
.mv_tapebanner_list{
    > li{
        margin-bottom:4px;
        &:last-of-type{margin-bottom:0;}
    }
}
.mv_tapebanner_item{
    display:flex; align-items: center; padding:8px 24px; gap:24px; box-sizing:border-box; background:#fff; border:1px solid #E6E6E6; border-radius:16px; min-height:74px;
    .img_cols{ flex:0 0 100px; display:flex;}
    .spec_cols{
        flex:1; min-width:0;
        .btn_else_row{margin-top:4px;}
    }
    &:hover{border-color:#000;box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);}
}
.mv_tapeimg_wrap{
    display:flex; justify-content: center; align-items: center;
    img{height:16px; max-width:100%; object-fit: contain; object-position: 50% 50%;vertical-align:top;}
}
.mv_tape_text{}
.mv_cardbanner_zone{position:relative; margin-top:16px; overflow: hidden; border-radius:12px;}
.mv_cardbanner_wrap{
    &.swiper{
        .swiper-wrapper{}
        .swiper-slide{}
    }
}
.mv_cardbanner_item{
    img{vertical-align: top;}
}
.mv_cardbanner_control_layer{
    position:absolute;top:12px;right:20px; z-index: 5; height:24px; display:flex; align-items: center; background:rgba(0,0,0,.25); border-radius:100px; padding:0 0 0 8px;
    @include font2(12px,700,1,#fff);
    > *{@include font2(12px,700,1,#fff);}
}
.mv_fraction_wrap{flex:1; min-width:0;}
.mv_auto_stop_cols{flex:0;display:flex; align-items:center;}
.btn_mv_timer{
    display:block;width:24px;height:24px;@include bgicon; background-image:url("../images/ico_play_stop_24.png");
    &.auto{background-position:0 100%; display:none;}
    &.stop{}
}
.layer_get_stan{position:absolute;top:48px;height:0;}
.mv_sticky_layer{position:absolute;top:48px;right:-174px;
    &.fixed{position:fixed; top:20px; width:100%;max-width: 1340px; left:50%; transform:translateX(-50%);
        .mv_sticky_item{position:absolute;top:0;right:-204px;}
    }
}
.mv_sticky_item{ width:180px; position:sticky; top:0; text-align: center;}
.mv_sticky_title{@include font2(24px,700,1.3,#000); margin-bottom:24px;}
.mv_vbox_wrap{}
.mv_vbox_list{
    > li{
        margin-bottom:8px;
        &:last-of-type{margin-bottom:0;}
    }
}
.mv_vbox{display:block; background:#fff; border:1px solid #E6E6E6; border-radius:12px; padding:18px 12px;}
.mv_vimg_row{}
.mv_vboxthum_wrap{
    display:flex; justify-content: center; align-items: center; height:40px;
    img{height:21px;width:100%; max-width:70%; object-fit: contain; object-position: 50% 50%; vertical-align:middle;}
}
.mv_vspec_row{
    margin-top:12px;
}
.mv_vspec_main{@include font2(13px,500,1.3,#000); @include clamp(1);}
.mv_vspec_sub{@include font2(12px,400,1.3,#000); @include clamp(2);margin-top:4px; height:32px; overflow:hidden;}
.mv_sticky_copy_wrap{margin-top:24px;}
.mv_sticky_copy{}

@media (max-width:$pcwid_large2){
    .mv_sticky_layer{display:none;}
    .mv_img_wrap{
        img{max-width:100%;}
    }
}
@media (max-width:$tablet){
    .mv_container_tb{
        .mv_cols{
            &.cols_01{flex:0 0 260px; width:260px;}
            &.cols_02{
            }
            &.cols_01,
            &.cols_02,
            &.cols_03{
            }
        }
    }
    .mv_cols_title_row{margin-bottom:20px;}
    .mv_cols_title{
         .ico{
            &.dia{width:26px;height:21.33px; flex: 0 0 26px;}
            &.king{width:26.67px;height:21.33px; flex: 0 0 26.67px;}
         }
         .text_node{font-size:20px;}
    }
    .mv_thtext{padding:0 5px;}
    .mv_tdtext{font-size:13px;}
    .mv_container_tb{gap:16px;}
    .mv_main_copy{font-size:20px;height:auto; text-align:left;}
    .mv_cardbanner_zone{margin-top:10px;}
    .mv_summary_block{margin-top:30px;}
    .mv_banner_box{
        .hover_contents{
             .img_row{margin-bottom:30px;}
        }
         .hover_contents{min-height:530px;}
    }
    

}
@media (max-width:$mobile_large){
    .mv_pixed_inner{padding:0 20px;}
    .mv_container_tb{flex-direction: column;padding:30px 0;
        .mv_cols{
            &.cols_01,
            &.cols_02,
            &.cols_03{width:auto; flex:0;}

            &.cols_02{
                .mv_banner_box_list{
                    > li{
                        &:hover{
                            .mv_banner_box{
                                border-color:#4AFF86;
                                outline:2px solid #4AFF86;
                            }
                        }
                    }
                }
            }
            &.cols_01,
            &.cols_02{
            }
        }
    }
    .mv_cols_title_row{margin-bottom:15px;}
    .mv_cols_title{
         .ico{
            &.dia,
            &.king{width:20px; height:16px; flex:0 0 20px;}
         }
         .text_node{font-size:18px;}
    }

    .mv_banner_box_list{
        gap:10px;flex-wrap:wrap;margin-right:-10px;
        > li{
            flex:0 0 calc(50% - 10px);
            &:hover{
                .mv_banner_box{
                    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
                    border-color:#4AD3FF;
                    outline:1px solid #4AD3FF;
                    .inner_contents{
                        visibility: visible; opacity:1;
                    }
                }
            }
        }
    }
    .mv_banner_box{border-radius:10px; position:relative; padding:15px 15px 10px;
        .inner_contents {
            .img_row{margin-bottom:10px;}
        }
        .hover_contents{
            display:none !important;
        }
    }
    .mv_img_wrap{height:65px;
        img{height:35px;}
    }
    .mv_main_copy{font-size:14px;}
    .mv_sub_copy{font-size:13px;height:auto; margin-top:5px;}

    .mv_tapebanner_item{padding:8px;gap:15px; border-radius:10px;
        .img_cols{}
        .spec_cols{
            .mv_tape_text{}
            .btn_else_row{}
        }
    }
}
@media (max-width:$mobile){
    
}

/* // main visual */
.main_contents_section{
    padding-bottom:140px;
}
.mc_row{
    margin-bottom:60px;
    &:last-of-type{margin-bottom:0;}
    &.skin2{
        background:#F8F8F8; padding:55px 0;
    }
}
.mc_pixed_inner{max-width:1340px;margin:0 auto; padding:0 30px; position:relative;}
.mc_pixed_title_row{margin-bottom:30px;}
.mc_title_dom{
    .text_node{@include font2(24px,700,1.3,#000);}
}
.mc_pixed_contents{}


/* top10 / 우수기업 */
.fetch_data_panel{
    display:flex; gap:48px;
    .data_cols{flex:1;}
    .data_cols{}
}
.fetch_panel_group{}
.fetch_title_row{margin-bottom:24px; display:flex; align-items:center; gap:24px;}
.fetch_panel_contents{}
.fetch_title_main{
    display:flex; align-items:center; gap:8px;
    .ico{
        @include bgicon;
        &.shape_top{width:31px;height:36px;background-image:url("../images/ico_top10.png");}
        &.shape_vip{width:41px;height:36px;background-image:url("../images/ico_vip.png");}
    }
    .text_node{@include font2(24px,700,1,#000); position:relative;top:-2px; word-break:keep-all;}
}
.fetch_title_sub{@include font2(12px,400,1.3,#595959);}

.sync_data_wrap{}
.sync_data_list{
    border-top:1px solid #BDC5D1;
    > li{border-bottom:1px solid #BDC5D1;}
    &.type2{
        .sync_data_item{
            min-height:76px
        }
    }
}
.sync_data_item{
    display:flex; align-items: center; min-height:64px; font-size:0;line-height:0;
    .img_cols,
    .title_cols,
    .caption_cols,
    .btn_cols{box-sizing:border-box;padding:15px;}
    .img_cols{flex:0 0 180px;
        &.wid_type2{}
    }
    .title_cols{flex:0 0 20%;}
    .title_caption_cols{
        flex:1; min-width:0;
        .sync_title + .sync_caption{margin-top:4px;}
    }
    .caption_cols{flex:1; min-width:0;}
    .btn_cols{
        flex:0 0 16px;
        .btn_icon{}
    }

    &:hover{
        background:#F8F8F8;
    }
}
.sync_img_else_wrap{text-align:center; margin-top:8px;}
.sync_img_wrap{
    display:flex;flex-direction:column; justify-content: center; align-items:center; box-sizing:border-box;
    > img{height:20px;max-width:100%;width:auto; object-fit: contain;object-position: 0 0;}
}
.sync_title{@include clamp(1); @include font2(14px,700,1.4,#000);}
.sync_caption{@include clamp(1); @include font2(12px,400,1.4,#000);}

@media (max-width:$tablet){
    .mc_title_dom{
        .text_node{font-size:20px;}
    }
    .mc_pixed_title_row{margin-bottom:20px;}
    .sync_data_item{
        min-height:55px;
        .img_cols{flex:0 0 100px;}
    }
    .fetch_title_row{display:block;}
    .fetch_title_main{
        .text_node{font-size:20px; position:relative;top:-2px;}
    }
    
    .fetch_title_sub{margin-top:10px;}
}   

@media (max-width:$mobile_large){
    .main_contents_section{
        padding-bottom:50px;
    }
    .mc_row{
        margin-bottom:30px;
        &.skin2{padding:30px 0;}
    }
    .mc_pixed_inner{padding:0 20px;}
    .mc_title_dom{
        .text_node{font-size:16px;}
    }
    .mc_pixed_title_row{margin-bottom:15px;}
    .sync_data_list{
        &.type2{
             .sync_data_item{}
        }
    }
    .sync_data_item{display:block;position:relative; min-height:0 !important;
        padding:15px 20px 15px 110px;
        .img_cols{position:absolute;top:50%;left:10px;transform:translateY(-50%);width:80px;}
        .btn_cols{display:flex;justify-content: flex-end; height:0;margin-right:-10px;}
        .img_cols,
        .title_cols,
        .caption_cols,
        .btn_cols{padding:0;}
        .btn_cols{
            .btn_icon{position:absolute;bottom:0;right:0; transform:translateY(-100%)}
        }
    }

    /* top10 / 우수기업 */
    .fetch_data_panel{
        display:block;
        .data_cols{
            margin-bottom:30px;
            &:last-of-type{margin-bottom:0;}
        }
    }
    .fetch_title_row{margin-bottom:15px; gap:10px; display:block;}
    .fetch_title_main{
        .text_node{font-size:16px; top:0;}
        .ico{
            &.shape_top{width:20.6px;height:24px;}
            &.shape_vip{width:27.3px;height:24px;}
        }
    }
}


/* 고객센터 */
.brief_section_zone{background:#F8F8F8; padding:48px 0;}
.brief_pixed_table{max-width:1400px; display:flex;width:100%; margin:0 auto; padding:0 30px; box-sizing: border-box;}
.brief_pixed_cols{
    flex:1;padding:0 30px;border-right:1px solid #E6E6E6; min-width:0;
    &:first-of-type{padding-left:0;}
    &:last-of-type{padding-right:0;border-right:0;}
}
.brief_slice_wrap{}
.brief_slice_title_row{}
.brief_slice_title_dom{
    display:flex; gap:8px; align-items:center;
    .ico{
        width:32px;height:32px; @include bgicon;
        &.tel{background-image:url("../images/ico_cus_01.png");}
        &.account{background-image:url("../images/ico_cus_02.png");}
        &.pay{background-image:url("../images/ico_cus_03.png");}
    }
    .slice_title_wrap{display:flex; gap:8px; align-items:center;}
    .slice_title{@include font2(20px,500,1,#000);}
    .slice_title_sub{@include font2(13px,400,1,#000);}
}
.brief_slice_contents{
    margin-top:24px;
    .number_row{}
    .note_row{margin-top:24px;}
    .summary_row{margin-top:24px;}
}
.brief_note_text{
    @include font2(14px,400,1.4,#595959); display:flex; margin-bottom:8px;
    .note_keyword{display:inline-block;padding-right:10px;flex:0;white-space:nowrap;}
    .note_liquid{}
    &:last-of-type{margin-bottom:0;}
}
.brief_main_number{@include font2(30px,700,1,#000); @include spoca}
.brief_summary_tb{
    display:table;width:100%;
    .summary_tr{display:table-row;
        &:last-of-type{
            .summary_td{padding-bottom:0;}
        }
    }
    .summary_td{
        display:table-cell; padding-bottom:8px;
        &.define_th{white-space:nowrap;width:1px;padding-right:9px;}
        &.define_td{}
    }
    .summary_emptext{@include font2(14px,700,1.4,#000);}
    .summary_thtext{@include font2(14px,400,1.4,#595959);}
    .summary_tdtext{@include font2(14px,400,1.4,#595959);}
    .summary_tdtext_sub{@include font2(12px,400,1.4,#595959);}
}
.banking_slice_list{
    > li{}
}
.banking_obj{
    display:flex; gap:8px;
    dt,dd{}
    dt{
        img{height:20px;}
    }
    dd{}
}
.banking_spec_text{@include font2(14px,700,1,#000); display:inline-block;}
.brief_amount_dom{display:inline-flex;align-items:center;gap:3px; white-space:nowrap;}
.brief_amount_number{@include font2(30px,700,1,#AF0101); @include spoca; display:inline-block;}
.brief_amount_unit{@include font2(14px,500,1,#000);  display:inline-block;}
.recap_tb_wrap{}
.recap_tb{
    width:100%;
    tr{
        &:last-of-type{
            th{border-bottom:1px solid #e6e6e6; }
        }
    }
    th,td{padding:3px 8px;}
    th{background:#e6e6e6; box-sizing:border-box;  border-bottom:1px solid #f8f8f8;border-top:1px solid #e6e6e6; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; width:75px; text-align:center;
        
    }
    td{border:1px solid #e6e6e6;}
}
.recap_thtext,
.recap_tdtext{@include font2(12px,400,1.3,#000); @include spoca;}
.recap_tdtext{}
.guide_points_wrap{margin:5px 10px 0;}
.points_bullet_list{
    > li{
        position:relative;padding-left:8px; @include font2(13px,400,1.4,#595959);
        &:before{display:block;content:'';width:3px;height:3px;background:#595959;position:absolute;top:8px;left:0; border-radius:100%;}
    }
}
.btn_text_node{display:inline-block; font-size:12px; color:#000;}
.brief_banner_wrap{}
.brief_banner_list{
    > li{
        margin-bottom:16px;
        &:last-of-type{margin-bottom:0;}
    }
}
.brief_banner_item{
    display:flex; gap:12px; align-items:center; border-radius:8px; padding:16px 14px 16px 24px;
    &.type2{
         padding:36px 14px 36px 24px;
        .img_cols{
            flex:0 0 108px;
            > img{}
        }
        .brief_text_node{

        }
        .brief_emp_text,
        .brief_sub_text{display:inline-block;color:#000;}
        .brief_emp_text{font-size:16px;}
        .brief_sub_text{font-size:14px;}
    }
    .img_cols{
        flex:0 0 80px;
        > img{vertical-align:top;}
    }
    .text_cols{}
}
.brief_text_node{
    line-height:1.6;
}
.brief_emp_text,
.brief_sub_text{color:#fff;word-break:keep-all; display:block;}
.brief_emp_text{font-size:16px; font-weight:700;}
.brief_sub_text{font-size:14px;}

.post_data_wrap{}
.post_data_list{
    display:flex; gap:12px 8px; margin:0 -8px 0 0; flex-wrap:wrap;
    > li{
        flex:0 0 calc(33.3333333333333333% - 8px);display:flex; flex-direction: column;
    }
}
.post_data_item{
    flex:1;display:flex; flex-direction: column; border:1px solid #E6E6E6;
    &:hover{border-color:#BDC5D1;}
}
.post_main_row{
    flex:1; display:flex; gap:24px; align-items: center; padding:16px 24px;
    .img_cols{}
    .text_cols{}
}
.post_img_wrap{
    width:128px;height:42px;position:relative;
    > img{display:block;width:100%;height:100%; position:absolute;top:0;left:0;object-fit: contain; object-position: 50% 50%;}
}
.post_sub_row{
    flex:0 0 48px; background:#F8F8F8; display:flex; gap:20px; justify-content: space-between; align-items: center; padding:0 16px 0 24px; font-size:0;line-height:0;
    .text_cols{}
    .btn_cols{
        .btn_icon{}
    }
    .text_cols{}
}
.post_main_linked_para,
.post_sub_linked_para{@include clamp(1);}
.post_main_linked_para{@include font2(14px,700,1.3,#000); }
.post_sub_linked_para{@include font2(12px,400,1.3,#000);}


@media (max-width:$pcwid){
    .brief_pixed_cols{padding:0 20px;}
    .brief_main_number,
    .brief_amount_number{font-size:24px;}
    
}

@media (max-width:$tablet){
    .post_main_row{padding:12px 20px}
    .post_sub_row{padding:0 12px 0 20px;}
    .post_img_wrap{width:100px;height:33px;}
}

@media (max-width:$mobile_large){
    /* 고객센터 */
    .brief_section_zone{padding:30px 20px 90px; display:block;}
    .brief_pixed_table{display:block;width:auto;padding:0;}
    .brief_pixed_cols{
        padding:0 0 30px 0; margin-bottom:30px; border:0; border-bottom:1px solid #E6E6E6;
        &:last-of-type{padding-bottom:0;margin-bottom:0;border-bottom:0;}
    }
    .brief_slice_title_dom{
        gap:5px;
        .ico{
            width:24px;height:24px; flex:0 0 24px;
        }
        .slice_title{font-size:14px;}
        .slice_title_sub{font-size:12px;}
    }
    .brief_slice_contents{
        margin-top:14px;
        .note_row{margin-top:14px;}
        .summary_row{margin-top:14px;}
    }
    .brief_note_text{
        font-size:12px; margin-bottom:5px;
    }
    .brief_main_number{font-size:26px;}
    .brief_summary_tb{
        .summary_td{
            &.define_td{}
        }
        .summary_emptext,
        .summary_thtext,
        .summary_tdtext{font-size:13px;}
        .summary_tdtext_sub{font-size:11px;}
    }
    .banking_spec_text{font-size:12px;}
    .brief_amount_dom{font-size:26px;}
    .brief_amount_number{}
    .brief_amount_unit{font-size:14px;}
    .brief_banner_wrap{}
    .brief_banner_list{
        > li{
            margin-bottom:12px;
        }
    }
    .brief_banner_item{
        gap:20px;border-radius:8px; padding:8px 8px 8px 14px; min-height:50px;
        &.type2{
            padding:12px 8px 12px 14px;
            .img_cols{
                flex:0 0 54px;
            }
            .brief_emp_text{font-size:14px;}
            .brief_sub_text{font-size:12px;}
        }
        .img_cols{
            flex:0 0 54px;
        }
    }
    .brief_emp_text{font-size:14px;}
    .brief_sub_text{font-size:12px;}

    .points_bullet_list{
         > li{font-size:12px;}
    }
    .guide_points_wrap{margin-left:0;}

    .post_data_list{
        gap:8px; margin:0 -8px 0 0;
        > li{flex-basis: calc(50% - 8px);}
    }
    /* .post_img_wrap{width:80px;height:20px;} */
    .post_main_row{padding:5px 10px 10px;gap:5px 10px;flex-direction: column; align-items: flex-start;}
    .post_sub_row{flex-basis: 40px;padding:0 10px; gap:10px;}
}

@media (max-width:$mobile){

}

/* 포커스 채용정보 */
.square_data_wrap{}
.square_data_list{
    display:flex; flex-wrap:wrap; gap:8px; margin-right:-8px;
    > li{
        flex:0 0 calc(20% - 8px);
        &:last-of-type{}
    }
}
.square_data_item{
    background: #FFFFFF;border: 1px solid #E6E6E6;border-radius: 16px; box-sizing: border-box; min-height:160px; text-align: center; padding:12px 16px; outline:0; 
     .spec_row{margin-top:12px;}
     .btn_row{
        margin-top:8px; text-align: right; font-size:0;line-height:0;
        .btn_icon{}
    }
    &:hover{border:1px solid #000;outline:1px solid #000;}
}
.square_data_cont{
    
    .img_row{}
   
    
}
.square_img_wrap{
    height:60px; display:flex; justify-content: center; align-items: center;
    img{height:20px; max-width:100%;object-fit: contain; object-position: 50% 50%;}
}
.square_para_group{}

.square_main_para,
.square_sub_para{@include clamp(1);}
.square_main_para{@include font2(14px,700,1.3,#000); }

.square_sub_para{margin-top:4px;}

@media (max-width:$mobile_large){
    .square_data_list{
        > li{
            flex:0 0 calc(50% - 8px);
        }
    }
    .square_img_wrap{height:40px;}
    .square_data_item{min-height:0;}
}


/* 플러스 채용정보 */
.box_shape_wrap{}
.box_shape_list{
    display:flex; flex-wrap:wrap; gap:8px; margin-right:-8px;
    > li{
        flex:0 0 calc(33.33333333333% - 8px);
    }
}
.box_shape_item{
    background:#fff; border:1px solid #E6E6E6; border-radius:16px; display:flex; gap:24px; padding:16px 24px; position:relative;
    > a, button{outline:0;}
    .img_cols{flex:0 0 124px; display:flex; align-items: center; justify-content: center;}
    .spec_cols{
        flex:1; min-width:0;
        .name_row{margin-bottom:8px; display:block;}
        .copy_row{ display:block;}
        .caption_row{
            display:flex; align-items:center; justify-content: space-between; font-size:0;line-height:0; margin-top:8px;
        }
    }
    &:hover{
        border-color:#000; outline:2px solid #000;outline-offset:-1px;  
        .btn_shape_more{background-position:0 100%;top:-2px;right:-2px;}
    }

    &.more_type{

    }
}
.btn_shape_more{display:block; position:absolute;top:-1px;right:-1px;width:38px;height:38px;@include bgicon; background-image:url("../images/btn_dark_line_more.png");}
.box_shape_img_wrap{
    > img{}
}
.box_shape_keyword,
.box_shape_main_copy,
.box_shape_sub_copy{@include clamp(1);}
.box_shape_keyword{@include font2(13px,400,1.3,#595959); }
.box_shape_main_copy{@include font2(14px,700,1.3,#000);}
.box_shape_sub_copy{@include font2(12px,400,1.3,#000);margin-top:4px;}
.box_shape_util_list{
    display:flex; gap:10px 22px; flex-wrap:wrap;
    > li{
        position:relative;
        &:after{display:block; content:'';width:2px;height:2px;background:#D9D9D9; border-radius:100%; position:absolute;top:50%;right:-13px; margin-top:0px;}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.box_shape_util{@include font2(12px,400,1.3,#595959);display:inline-block;}
.box_shape_ico_list{
    
    &:after{}
    > li{
        &:last-of-type{
            &:after{}
        }
    }
    .btn_icon{}
}

@media (max-width:$tablet) {
    .box_shape_item{
        gap:18px;
        .img_cols{flex-basis:100px;}
        .spec_cols{
            .caption_row{
                align-items: flex-end;
            }
        }
        .box_shape_util_list{
            flex-direction: column;gap:5px 0;
            > li{
                &:after{display:none;}
            }
        }
    }
}
@media (max-width:$mobile_large){
    .box_shape_list{
        > li{
            flex:0 0 calc(50% - 8px);
        }
    }
    .box_shape_item{
        gap:15px; padding:15px 20px;
        .img_cols{flex-basis:80px;}
    }
}
@media (max-width:$mobile){
    .box_shape_item{
        flex-direction: column; align-items: normal; padding:15px;
        .box_shape_util_list{
            gap:5px 20px; flex-direction: row;
            > li{
                &:after{display:block; right:-12px;}
                &:last-of-type{
                    &:after{display:none;}
                }
            }
        }
    }
}


/* 프리미엄 채용정보 */
.mold_card_wrap{}
.mold_card_list{
    display:flex; flex-wrap:wrap; gap:24px; margin-right:-24px; 
    > li{
        flex:0 0 calc(25% - 24px); position:relative; background:#fff;
        &:hover,&.hover{z-index:5;}
        &.hover{z-index:10;}
    }
}
.mold_card_item{
    border:1px solid #E6E6E6; border-radius:24px; display:block; position:relative; box-sizing: border-box;
    .inner_contents{
        padding:60px 16px 26px; position:relative; z-index:1;
        .img_row{margin-bottom:12px;}
        .spec_row{}
        
    }
    .hover_contents{display:none;position:absolute; top:100%;left:-1px; min-height:315px; background:#fff;width:100%; border:1px solid #1D1D1F; box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12); border-top:0; border-radius:0 0 24px 24px;
        &:before{display:block;content:'';width:100%;height:20px; background:#fff;position:absolute;top:-20px;left:0;}
        > *{position:relative;z-index:1;}
    }
    .btn_mold_more{display:none;width:82px;height:70px;background:url("../images/ico_box_more_spe.png") no-repeat 0 0/100% auto; position:absolute;top:0;right:0;}
    &.spe{
        border-color:#CA69FF; border-width:2px;
        .hover_contents{border-width:2px; left:-2px; border-top:0;border-color:#CA69FF; outline:1px solid #CA69FF;}
        .btn_mold_more{display:block;top:-14px;right:-14px;}
        .btn_mold_block,
        .mold_summary_block{
            background: rgba(202, 105, 255, 0.03);
        }
        .mold_thtext{background: rgba(202, 105, 255, 0.1); color:#9219D4;}
    }
    &.gold{
        border-color:#E79200;  border-width:2px;
        .hover_contents{border-width:2px; left:-2px; border-top:0; border-color:#E79200; outline:1px solid #E79200;}
        .btn_mold_more{background-image:url("../images/ico_box_more_gold.png"); display:block;top:-15px;right:-14px;}
        .btn_mold_block,
        .mold_summary_block{
            background:#fffcf6;
        }
        .mold_thtext{background:#fff0d7; color:#E79200;}
    }
    &:hover, &.hover{
       border-color:#1D1D1F; box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12); border-radius:24px 24px 0 0;
        .mold_img_wrap{height:116px;}
        &.spe{
            border-color:#CA69FF; outline:1px solid #CA69FF;
            .hover_contents{}
            .btn_mold_more{background-position:0 100%;top:-11px;right:-15px;}
        }
        &.gold{
            border-color:#E79200; outline:1px solid #E79200;
            .btn_mold_more{background-position:0 100%;top:-16px;right:-15px;}
        }
        .inner_contents{
            padding-top:24px;
        }
        .hover_contents{display:block;}
    }
}
.btn_else_row{margin-top:8px;}
.btn_else_list{
    display:flex; justify-content: flex-end; align-items: center; gap:8px; font-size:0;line-height:0;
    > li{}
    .btn_icon{}
}
.mold_img_wrap{
    display:flex; justify-content: center; align-items: center; height:80px;
    > img{vertical-align: top; height:36px; max-width:100%; object-fit: contain; object-position: 50% 50%;}
}
.mold_main_copy{@include font2(20px,700,1.4,#000); @include clamp(1); height:28px;}
.mold_sub_copy{@include font2(16px,400,1.4,#595959); @include clamp(2); height:45px; margin-top:4px;}

/* 수정부분 */
@keyframes twinkle {
    0%   { background-color: #ffff00; }
    50%  { background-color: #0EFCFE; }
    100%  { background-color: #FF86F7; }
}

@keyframes twinkle_ico {
    0%   { background-image:url("../images/ico_twinkle01.png"); }
    50%  { background-image:url("../images/ico_twinkle02.png"); }
    100%  { background-image:url("../images/ico_twinkle03.png"); }
}

.mold_sub_ani{
    display: flex;gap: 4px; margin-top: 4px;
  .mold_sub_copy_wrap{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 48px;
  }
  
  .mold_sub_copy {
    display: inline;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #595959;
    word-break: break-all;
  
    animation: twinkle 0.8s infinite;
  }
  
  .twinkle_ico{
      flex: 0 0 24px;
      display: inline-block;
      width: 24px;
      height: 24px;
      @include bgicon;
      animation: twinkle_ico 0.8s infinite;
  }
}

/* // 수정부분 */
.mold_else_text{@include font2(13px,400,1.4,#595959);}
.mold_summary_block{background: rgba(202, 105, 255, 0.03); padding:50px 24px 50px;}
.mold_summay_tb{
    th,td{padding-bottom:12px; vertical-align: top;}
    tr{
        &:last-of-type{
            th,td{padding-bottom:0;}
        }
    }
    th,
    td{text-align: left;}
    td{padding:1px 8px 0;}
}
.mold_thtext{display:inline-block; @include font2(13px,500,1.3,#666); background: rgba(0, 0, 0, 0.05); min-width:68px; text-align: center; border-radius:4px; padding:4px 10px; box-sizing: border-box}
.mold_tdtext{@include font2(16px,400,1.3,#000000); @include clamp(1)}
.btn_mold_block{background: rgba(202, 105, 255, 0.03);  padding:0 24px 40px; border-radius:0 0 23px 23px;}
.btn_mold_box{
    display:flex; min-height:70px; background:#1D1D1F;  border-radius:12px; padding:10px; box-sizing: border-box; align-items: center; justify-content: center;
    .text_node{@include font2(20px,700,1.3,#fff);}
}
.btn_mold_more{}

.mc_panel_layer{position:absolute;top:0;left:-160px;border:1px solid #E6E6E6; background:#fff; border-radius:12px; box-sizing: border-box; width:160px;}
.mc_panel_space{
    padding:16px 12px 24px; 
    .panel_block{
        margin-bottom:36px;
        &:last-of-type{margin-bottom:0;}
        .title_row{margin-bottom:16px;}
        .contents_row{}
    }
}
.mc_panel_title{@include font2(13px,400,1.3,#595959)}
.flymenu_list{
    display:flex; gap:12px 0; flex-wrap:wrap; 
    &.cols_2{
        gap:12px 5px;
        > li{
            flex: 0 0 calc(50% - 5px);
        }
    }
    > li{
        flex:0 0 100%;
        /* margin-bottom:12px;
        &:last-of-type{margin-bottom:0;} */
    }
}
.flymenu{
    display:inline-block; @include font2(14px,700,1.3,#000);
    &:hover{color:#0258AD; text-decoration: underline;}
}

@media (max-width:1680px){
    .mc_panel_layer{display:none}
}

@media (max-width:$mobile_large){
    .mold_card_list{
        gap:15px 10px; margin-right:-10px; 
        > li{
            flex:0 0 calc(50% - 10px); z-index:0 !important;
        }
    }
    .mold_card_item{
        border-radius:16px; min-height:100%;
        .inner_contents{
            padding:26px 15px 10px;
            .img_row{}
            .spec_row{}
            .btn_else_row{}
            .btn_else_list{
                > li{}
                .btn_icon{}
            }
        }
        .hover_contents{display:none !important; border-radius:0 0 16px 16px;}
        &:hover, &.hover{
            border-radius:16px;
            .mold_img_wrap{height:80px;}
            .inner_contents{
                padding-top:26px;
            }
            .hover_contents{display:none;}
        }
    }
    .mold_main_copy{font-size:16px;height:auto;}
    .mold_sub_copy{font-size:14px;height:40px;}

    .mold_sub_ani{
        .mold_sub_copy_wrap{
            height: 40px;
        }
        
        .mold_sub_copy {
            font-size: 14px;
        }
        
        .twinkle_ico{
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
        }
    }

    .btn_else_list{gap:5px;}
}
@media (max-width:$mobile){
   /*  .mold_card_list{
        margin-right:0; 
        > li{
            flex:0 0 100%;
        }
    } */
}

