.mbtouch_container{padding:16px 16px 90px;text-align: left;}
.mbt_block_wrap{}
.mbt_block_list{
    > li{
        margin-bottom:16px;
         &:last-of-type{margin-bottom:0;}
    }
}
.mbt_title_row{
    display:flex; align-items: flex-end; gap:10px; justify-content: space-between;
    .else_item_wrap{
        .btn_arole{}
    }
}
.mbt_title{
    display:flex; align-items: center; gap:4px;
    .ico{
        flex:0 0 30px;
        img{}
    }
    .text_node{@include font2(16px,700,1,#000);}
}
.btn_arole{display:inline-flex; border:1px solid #E6E6E6; @include font2(11px,400,1,#595959); height:22px; box-sizing: border-box; padding:0 8px; text-align: center; border-radius: 100px; align-items: center; justify-content: center; white-space: nowrap;}
.mbt_contents{margin-top:8px;}
.mbt_card_list{
    > li{
        margin-bottom:8px;
        &:last-of-type{margin-bottom:0;}
    }
}
.mbt_card_box{
    border:1px solid #E6E6E6; border-radius:16px; display:block; position:relative; overflow:hidden;
    &.ple{
        background: #4AFF86; border:0;
        background: linear-gradient(308deg, rgba(74, 255, 134, 1) 0%, rgba(74, 211, 255, 1) 100%);
       padding:2px;
        .mbt_card_inner{ border-radius:14px;}
    }
}
.mbt_card_inner{
    display:flex; padding:16px 12px; gap:12px; background:#fff;
    .img_cols{flex:0 0 100px;}
    .img_wrap{
        position:relative; height:100%;
        img{object-fit: contain; object-position: 50% 50%;position:absolute;top:0;left:0;width:100%;height:100%;}
    }
    .spec_cols{flex:1; min-width:0;}
    .mold_sub_marking{justify-content: flex-start; margin-top:4px;}
    .mold_sub_caption{font-size:13px;}
    .mold_sub_caption_wrap{height:auto;}
    .mold_sub_marking .ico {
        flex: 0 0 15px;
        width: 15px;
        height: 15px; position:relative; top:2px;
    }
}
.mbt_vspec_main{display:block; @include clamp(2); @include font2(14px,700,1.3,#000);}
.mbt_vspec_util_wrap{
    margin-top:8px; display:flex; align-items: center; gap:10px;
    .btn_icon{}
}
.mbt_vspec_util_list{
    flex:1; display:flex; gap:22px;
    > li{
        position:relative;
        &:after{ display:block;content:''; width:2px; height:2px; background:#D9D9D9; border-radius: 100%; position:absolute; top:9px;right:-12px;}
        &:last-of-type{
            &:after{}
        }
    }
}
.mbt_vspec_util{display:inline-block; @include font2(12px,400,1,#595959);}