/* mixin */

@use "sass:math";

$primary : #13479b;;
$secondary : #25b0f5;
$sub_color : #D46C11;

$pcwid : 1340px;

$tablet : 1299px;
$mobile_large : 1023px;
$mobile : 767px;
$mobile_size1 : 550px;
$mobile_size2 : 450px;
$mobile_size3 : 374px;
$mobile_small : 359px;
$mobile_xsmall : 319px;

$warn : #e84854;


@mixin font(
  $size,
  $weight: normal,
  $lineHeight: normal,
  $letterSpacing: normal,
  $color: inherit
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  color: $color;
}
@mixin bgicon {
    background-repeat:no-repeat; background-size:100% auto; background-position:0 0;
}
@mixin bgimg {
    background-repeat:no-repeat; background-size:100% auto; background-position:0 0;
}

@mixin bgfull {
    background-repeat:no-repeat; background-size:cover; background-position:50% 50%;
}


@mixin fontTransform {
    transform: skew(.5deg);
}


@mixin gmarket {
    font-family: 'GmarketSans','NotoSans-Regular',dotum;
}

@mixin spoca {
    font-family: 'Spoqa','NotoSans-Regular',dotum;
}


@mixin cont_center {
    max-width:1280px;padding:0 30px; margin:0 auto;
}

@mixin dataImage {
    display:block; width:100%;height:100%;position:absolute;top:0;left:0; object-fit: contain; object-position: 50% 50%;
}

@mixin dataImage2 {
    display:block; width:100%;height:100%;position:absolute;top:0;left:0; object-fit: cover; object-position: 50% 50%;
}

@mixin clamp ($count) {
    word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:$count;overflow: hidden;
}

@function rem($value) {
    $remValue: math.div($value, 16) + rem;	
    @return $remValue;
}