.respond_fieldset_wrap{border-top:2px solid #BDC5D1;
    &.type2{border-top:0;}
}
.respond_fieldset_zone{}
.form_map_both_container{
    display:flex;
    .form_cols{
        flex:1; min-width:0;
        .respond_fieldset_tb{}
    }
    .map_cols{flex:0 0 404px; display:flex; flex-direction: column; box-sizing: border-box; padding:20px; background:#F8F8F8; border-bottom:1px solid #E6E6E6}
}
.respond_fieldset_tb{
}
.map_render{flex:1; border:1px solid #E6E6E6; position:relative;}
.fset_tr{
    display:flex; border-bottom:1px solid #E6E6E6;
    > .short_wid20{flex:0 0 20%;}
    > .short_wid25{flex:0 0 25%;}
    > .short_wid30{flex:0 0 30%;}
    > .short_wid35{flex:0 0 35%;}
    > .short_wid40{flex:0 0 40%;}
    > .short_wid45{flex:0 0 45%;}
}
.fset_cols_group{flex:1; display:flex;}
.fset_cols_container{flex:1;display:flex; flex-direction:column; align-items:normal; justify-content: center;
    .fset_cols_group{border-bottom:1px solid #E6E6E6;
        &:last-of-type{border-bottom:0;}
    }
}
.fset_th_cols,
.fset_td_cols{display:flex; flex-direction: column; align-items: flex-start; box-sizing: border-box;}
.fset_th_cols{padding:6px 16px; background:#F8F8F8;width:170px; justify-content: center;}
.fset_td_cols{
    > *{width:100%;}
    padding:6px 24px; flex:1; min-width:0; justify-content: center;
    .form_select{}
    .props_cols_wrap + .multi_fileform_wrap{margin-top:10px;}
}
.fset_thtext{
    display:inline-block; @include font2(16px,400,1.5,#595959);
    &.emp{
        color:#005AAB; font-weight:500;
    }
    .ico_import{position:relative; top:-4px;}
}
.fset_td_inner_flex{
    display:flex; justify-content: space-between; align-items: center; gap:20px;
   .td_cols{
        display:flex; gap:24px; align-items: center;
        .props_item_list{}
        .props_label{white-space: nowrap;}
   } 
}
.fset_data{
    display:flex; flex-wrap:wrap; align-items: center; min-height:38px;padding:10px 0; box-sizing: border-box;
}
.linked_horitem_list{
    display:flex; align-items: center;
    > li{
        &.long{flex:1;}
        &.short{padding:0 12px;}
        &.short2{padding:0 5px;}
    }
}
.horitem_unit{@include font(13px,400,1,#000000); white-space: nowrap; display:inline-block;}
.hor_props_item_wrap{margin:5px 0 0 0;}
.indent_node_text{
    @include font2(13px, 400, 1.4, #595959); display:flex; gap:4px;
    > *{@include font2(13px, 400, 1.4, #595959);}
}
.indent_bullet_node{
    flex:0; white-space: nowrap;
}
.indent_node_liquid{flex:1;}

.fset_td_dp_list{
    display:flex; align-items: center;
    > li{
        .props_item_list{
            > li{}
        }
    }
}
.inline_connect_wrap{
    display:flex; gap:8px; align-items: center;
    > .inline_connect_list{flex:1;}
}
.tditems_list{
    display:flex; align-items:center; gap:5px 24px; flex-wrap:wrap; min-height:38px;
    &.type2{
        gap:8px;
    }
    &.type3{
        gap:16px;
    }
    > li{

    }
    .props_item_list{}
}
.tooltip_btn_wrap{
    display:inline-block;
}
.btn_tooltip{
    display:inline-flex; align-items:center; gap:4px;
    .ico{width:16px; height:16px; @include bgicon; background-image:url("../images/ico_tooltip.png"); }
    .text_node{@include font(14px,400,1,#000); text-decoration: underline !important;}
    &.emp{font-weight:700; text-decoration: underline !important;}
}

.tip_text_copy{
    @include font(14px,400,1.6); word-break:keep-all;
}

.inline_connect_list{
    display:flex; gap:8px; align-items: center;
    > li{
        &.short{flex:0 0 30%}
        &.long{flex:1;}
    }
}
.td_column_wrap{}
.td_column{
    margin-bottom:5px;
    &:last-of-type{margin-bottom:0;}
}
.with_unit_obj{
    display:flex; align-items: center; gap:4px;
    &.gap_type2{gap:12px;}
    .unit_node{white-space: nowrap; @include font2(14px,400,1,#000)}
    .note_node{white-space: nowrap; @include font2(13px,400,1,#595959)}
}
.field_note_para{@include font2(13px,400,1.3,#595959);margin:4px 0 0 13px}
.btn_event_text_list{
    display:flex; gap:8px; align-items: center;
    > li{}
}
.btn_event_text{display:inline-block; @include font2(14px,700,1,#000); text-decoration: underline !important; white-space: nowrap;}
.many_items_wrap{
    line-height:0; font-size:0;
    .many_items_list{ margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
    }
    &:last-of-type{margin-bottom:0;}
}
.many_items_list{
    display:flex; gap:16px; align-items: center;
}
.fset_td_note_row{display:flex; justify-content: flex-end; text-align:right; margin-bottom:6px;}

.word_slice_package{display:flex;gap:8px; align-items:center;}
.word_slice_keylabel{@include font2(14px,400,1,#000); white-space:nowrap;}

.textpara_dl{
    display:flex; align-items:center; gap:4px; white-space: nowrap; flex-wrap:wrap; justify-content: flex-end;
    dt,dd{}
    dt{}
    dd{}
}
.btn_text_keyword,
.textpara_keyword{text-decoration:underline !important;}
.textpara_emp,
.textpara_unit{white-space: nowrap}
.textpara_emp{@include font2(14px,500,1,#005AAB); @include spoca;}
.textpara_unit{@include font2(14px,400,1,#000);}

.logo_viewer_wrap{
    padding:16px; text-align: center; box-sizing: border-box;
    .thumnail_row{}
    .btn_row{
        margin-top:24px;
        .btn_only_text_list{}
    }
}
.logo_viewer_box{width:148px;height:56px; border:1px solid #E6E6E6; position:relative; margin:0 auto;}
.logo_viewer_message{display:flex; width:100%;height:100%; justify-content: center; align-items: center; font-size:16px; color:#AAAAAA; }
img.viewer_img{position:absolute;top:0;left:0;width:100%;height:100%; object-fit: contain; object-position: 50% 50%;background:#fff;}
.logo_viewer_copy{@include font2(12px,400,1.3,#595959);margin-top:8px;}

.form_cluster_wrap{}
.form_cluster_list{
    border-top:2px solid #BDC5D1; display:table; width:100%;
     >li{
        display:table-row;
        &:last-of-type{}
        .th_cols,
        .td_cols{
            display:table-cell;  border-bottom:1px solid #E6E6E6;
        }
        .th_cols{width:1px; padding-right:66px;
            &.type2{vertical-align: middle;
                .cluster_thtext{top:0}
            }
        }
        .td_cols{
             padding:24px 0;
            .props_cols_wrap{}
        }
     }
}
.cluster_thtext{@include font2(16px,500,1.3,#000); white-space: nowrap; position:relative; top:-6px;}
.btn_keyword_chip_list{
    display:flex; flex-wrap:wrap; gap:8px;
    > li{
        &:last-of-type{}
    }
}
.btn_keyword_chip{
    display:inline-block; white-space: nowrap; box-sizing: border-box; height:32px; border:1px solid #E6E6E6; @include font2(13px,400,30px,#595959); border-radius: 100px; padding:0 12px;
    &.active{color:#000; font-weight:700; border-color:#000;}
}
.getchip_container{
    min-height:68px; box-sizing: border-box; display:flex; gap:8px; margin-bottom:8px;
    &:last-of-type{margin-bottom:0;} 
    .chip_cols{
        flex:1; min-width:0; border-radius:12px; overflow: hidden; position:relative; border:1px solid #E6E6E6; display:flex;align-items: center; padding:24px;
        &.nodata_cols{background:#F8F8F8; border:1px solid #F8F8F8; text-align: center;  justify-content: center; 
            .nodata_para{color:#595959; @include font2(14px,400,1.4,#595959)}
        }
    }
    .btn_cols{
        flex:0 0 100px; 
        .btn_submit_square{}
    }
}
.btn_submit_square{
    display:flex; justify-content: center; align-items: center; min-height:100%; border-radius:12px; border:1px solid #000; box-sizing: border-box;
    .text_node{@include font2(14px, 700, 1,#000); display:inline-block; padding:10px;}
}
.recorded_item_wrap{}
.recorded_item_list{
    display:flex; flex-wrap:wrap; gap:10px 24px; font-size:0;line-height:0;
    > li{
        &:last-of-type{}
    }
}
.recorded_item{
    display:inline-flex; gap:8px; align-items: center;
    .btn_ico_delete{width:16px; height:16px; flex:0 0 16px; @include bgicon; background-image:url("../images/btn_close_16.png");}
    .text_node{@include font2(14px,400,1,#000000); display:inline-block;}
}

.rsdata_package{}
.rsdata_main_text{@include font2(16px,400,1.3,#000);}
.rsdata_sub_text{@include font2(14px,400,1.3,#595959); margin-top:4px;}

.with_number_obj{
    display:inline-flex; gap:3px; align-items: center;
    .number_value{@include font2(16px,400,1.3,#000000); @include spoca;}
    .number_unit{@include font2(14px,400,1.3,#595959);}
}
.field_tape_box{
    display:flex; padding:18px; justify-content: space-between; align-items: center; background:#F8F8F8;
    .label_cols{
        &.pos_dp{visibility: hidden}
    }
    .form_cols{
        .props_item_list{}
    }
}
.ft_label_text{@include font2(16px,400,1.3,#000000);}

.td_dom_list{
    display:flex; gap:16px; align-items: center; min-height:38px;
    .fset_data{min-height:0;padding:0;}
    > li{}
}
.upload_dom{
    display:inline-flex; gap:8px;
    .ico{flex:0 0 16px; width:16px; height:16px; @include bgicon; background-image:url("../images/ico_upload_file.png"); position:relative;top:2px;}
    .text_node{@include font2(14px,400,1.3,#000);}
}

@media (max-width:$pcwid_large){
    .tditems_list{
        &.type2, &.type3{
            > .inline_connect_list{flex:1;}
        }
        &.type3{
            gap:5px 10px;
        }
    }
    .many_items_wrap{
        .many_items_list{ margin-bottom:20px;
        }
    }
    .many_items_list{display:block;
        .inline_connect_list{
            >li{flex:1;}
        }
        .btn_event_text_list{justify-content: flex-end;margin-top:10px;}
    }
    .inline_connect_wrap{
        flex-direction: column;
        > .inline_connect_list{flex:0;width:100%;
            > li{}
        }
    }
}
@media (max-width:$tablet){
    .inline_connect_list{
        > li{
            &.short{flex:0 0 40%}
        }
    }
    .fset_tr{
        > .short_wid20{flex:0 0 35%;}
        > .short_wid25{flex:0 0 35%;}
        > .short_wid30{flex:0 0 40%;}
        > .short_wid35{flex:0 0 40%;}
        > .short_wid40{flex:0 0 45%;}
        > .short_wid45{flex:0 0 45%;}
    }

    .fset_td_inner_flex{
        &.tablet_break{
            display:block;
            > .td_cols{display:block;}
        }
    }
    .tditems_list{
        &.tablet_break{
            display:block;
        }
    }
    .word_slice_package{
        .box_input_with_wrap{flex:1;}
    }
}

@media (max-width:$mobile_large){
    .fset_td_inner_flex{flex-direction: column; align-items: flex-start; gap:10px;
        .td_cols{flex:0;width:100%; gap:15px;
            > .linked_horitem_list{flex:1;}
        }
    }
    .fset_th_cols{padding:8px 10px; width:1px;}
    .fset_thtext{font-size:13px;white-space: nowrap;}
    .fset_td_cols{padding:8px 10px;}

    .indent_node_liquid{font-size:12px;}

    .fset_td_dp_list{
        flex-direction: column;gap:8px;
        > li{flex:0;width:100%;}
    }

    .linked_horitem_list{
         > li{
            &.short{padding:0 3px;}
         }
         &.mb_break{
            display:block;
            > li{
                &.short2{text-align: center;}
            }
         }
    }
    .hor_props_item_wrap{display:flex; justify-content:flex-end;margin:10px 0;}

    .form_map_both_container{
        display:block;
        .form_cols{
            .respond_fieldset_tb{}
        }
        .map_cols{padding:0;}
    }
    .map_render{min-height:300px;}
    .respond_fieldset_tb{
    }

    .tditems_list{
        &.type2{
            flex-direction: column; align-items: flex-start; justify-content: flex-start;
            > .inline_connect_list{flex:0; width:100%;align-items: flex-start; justify-content: flex-start;
                > li{width:100%;flex:auto;}
            }
        }
    }
    .inline_connect_list{
        > li{flex:1;}
    }

    .btn_event_text{font-size:13px;}

    .fset_tr{
        display:block;
        .fset_cols_group{
            border-bottom:1px solid #E6E6E6;
            &:last-child{border-bottom:0;}
        }
    }
    .with_unit_obj{
        &.mb_break{flex-direction: column;
            justify-content: flex-start; align-items:flex-start; gap:5px;
            .note_node{white-space:normal;line-height:1.3;font-size:13px;}
        }
    }
    .field_note_para{margin:7px 0 0 0;font-size:13px;}

    .logo_viewer_wrap{
        padding:10px;
        .thumnail_row{}
        .btn_row{
            margin-top:12px;
            .btn_only_text_list{}
        }
    }



    .form_cluster_list{
        display:block;
        >li{
            display:block; border-bottom:1px solid #E6E6E6; padding:20px 0;
            .th_cols,.td_cols{
                display:block;border:0;
            }
            .th_cols{width:auto; padding:0 0 10px;
            }
            .td_cols{
                padding:0 8px;
            }
        }
    }
    .cluster_thtext{font-size:14px; top:0;}
    .getchip_container{
        min-height:50px;
        .chip_cols{
            border-radius:8px; padding:15px;
            &.nodata_cols{
                .nodata_para{font-size:13px;}
            }
        }
        .btn_cols{
            flex:0 0 80px; 
        }
    }
    .btn_submit_square{
        border-radius:8px;
    }
    .recorded_item_list{
        display:flex; flex-wrap:wrap; gap:10px;
    }

    .field_tape_box{gap:20px;
        .form_cols{flex:1;}
        .label_cols{
            &.pos_dp{display:none;}
        }
    }
    .ft_label_text{font-size:14px; white-space: nowrap;
    }

    
}
@media (max-width:$mobile){
    .fset_td_inner_flex{
        .td_cols{flex:0;width:100%; gap:15px;  display:block;
            > *{margin-bottom:8px;
                &:last-child{margin-bottom:0;}
            }
            > .linked_horitem_list{flex:1;}
        }
    }

    .tip_text_copy{
        font-size:13px;
    }

    .inline_connect_list{
        flex-direction: column; gap:5px;
        > li{
            flex:0;width:100%;
            &.short,
            &.long{flex:0;width:100%}
        }
    }

    

    .td_dom_list{
        flex-direction: column; align-items: normal;  gap:5px;
        > li{}
    }
    .upload_dom{
        gap:4px;
        .ico{flex:0 0 13px; width:13px; height:13px;top:1px;}
        .text_node{font-size:13px;}
    }

    .fset_data{
        &.long_data{
            padding:0;
        }
    }
}