/* text */
.node_obj_package{
    display:flex; justify-content: flex-end; align-items: center; gap:8px; flex-wrap:wrap;
    dt,dd{}
    dt{}
    dd{}
}
.node_keyword{display: inline-block; @include font2(14px,400,1.3,#000);}
.node_linked_text{
    display:flex; justify-content: flex-end; align-items: center; @include font(14px,400,1.3,#595959); gap:2px; white-space: nowrap;
    .linked_intext{@include font2(14px,400,1,#000)}
    .price_node{}
}
.price_node{
    display:flex; gap:3px; align-items: center; white-space: nowrap;
    .price_number{@include font2(14px,400,1,#B5000F); @include spoca; word-break: keep-all;}
    .price_unit{}
}
.nodetext_struc_wrap{display:flex; flex-wrap:wrap; gap:5px 10px; justify-content: space-between; align-items: center;
    .struc_cols{}
}
.nodetext_obj_wrap{}
.nodetext_emp_text{@include font2(20px,500,1.3,#005AAB); @include spoca;}
.nodetext_normal_text{@include font2(14px,400,1.3,#000); position:relative; top:-1px;}
.total_amount_group{
  text-align: right;
    .amount_row{}
    .copy_row{}
}
.amount_price_wrap{display:flex; gap:2px; align-items: center; justify-content: flex-end;text-align: right;}
.amount_price_main{@include font2(20px,700,1,#B5000F); @include spoca;}
.amount_price_unit{@include font2(14px,400,1,#595959); }
.amount_price_copy{@include font2(14px,400,1.3,#595959); margin-top:4px;}

.with_number_para{@include font2(16px,500,1.3,#000000); @include spoca;}

.no_reserve_com{border:1px solid #abd868; background-color: #e8ffc8; font-weight:bold; font-size:14px;}

@media (max-width:$mobile_large){
    .node_obj_package{justify-content: flex-start;}
    .node_linked_text{
        font-size:13px;
        .linked_intext{font-size:14px;}
        .price_node{}
    }
    .price_node{
        .price_number{font-size:17px;}
        .price_unit{}
    }

    .nodetext_emp_text{font-size:16px;}
    .nodetext_normal_text{font-size:13px;}

    .with_number_para{font-size:14px;}

    .nodetext_obj_wrap{
        .nodetext_normal_text{display:block;}
    }

    .nodetext_struc_wrap{justify-content: flex-end;}
    .amount_price_main{font-size:20px;}
    .amount_price_copy{font-size:13px;}
}